In [1]:
import pandas as pd

In [1]:
print('test')

test

#### Gdp Daten vorbereiten

In [13]:
# Quelle https://data.worldbank.org/indicator/NY.GDP.PCAP.CD?view=chart
gdp_raw = pd.read_csv('/Users/alexander/Desktop/Data Science/Uebersterblichkeit/API_NY/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_4770417.csv', delimiter= ',')

In [22]:
# Aktuellste 
gdp = gdp_raw[['Country Name', 'Country Code', '2021']]
gdp.rename(columns={'Country Name':'Land', 'Country Code':'Code', '2021':'gdp'}, inplace=True)
gdp

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_28081/1037614179.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp.rename(columns={'Country Name':'Land', 'Country Code':'Code', '2021':'gdp'}, inplace=True)

                            Land Code           gdp
0                          Aruba  ABW  29342.100858
1    Africa Eastern and Southern  AFE   1537.336021
2                    Afghanistan  AFG    368.754614
3     Africa Western and Central  AFW   1757.030626
4                         Angola  AGO   1953.533757
..                           ...  ...           ...
261                       Kosovo  XKX   5269.783901
262                  Yemen, Rep.  YEM           NaN
263                 South Africa  ZAF   7055.044776
264                       Zambia  ZMB   1137.343633
265                     Zimbabwe  ZWE   1773.920411

[266 rows x 3 columns]

In [29]:
# Null Values bereinigen
# gdp[gdp.gdp.isnull()]
gdp.dropna(axis=0, how='any', inplace=True)
gdp

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_28081/2858913632.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp.dropna(axis=0, how='any', inplace=True)

                            Land Code           gdp
0                          Aruba  ABW  29342.100858
1    Africa Eastern and Southern  AFE   1537.336021
2                    Afghanistan  AFG    368.754614
3     Africa Western and Central  AFW   1757.030626
4                         Angola  AGO   1953.533757
..                           ...  ...           ...
260                        Samoa  WSM   3857.318464
261                       Kosovo  XKX   5269.783901
263                 South Africa  ZAF   7055.044776
264                       Zambia  ZMB   1137.343633
265                     Zimbabwe  ZWE   1773.920411

[245 rows x 3 columns]

### Übersterblichkeit Data-Set

In [34]:
# Data Quelle https://github.com/owid/covid-19-data/tree/master/public/data/excess_mortality
mort_raw = pd.read_csv('excess_mortality.csv')
de_raw = mort_raw[mort_raw['location']=='Germany']

In [35]:
pd.options.display.max_columns = None

In [36]:
mort_raw.shape

(10747, 38)

In [37]:
de_raw.iloc[50:55]

,location,date,p_scores_all_ages,p_scores_15_64,p_scores_65_74,p_scores_75_84,p_scores_85plus,deaths_2020_all_ages,average_deaths_2015_2019_all_ages,deaths_2015_all_ages,deaths_2016_all_ages,deaths_2017_all_ages,deaths_2018_all_ages,deaths_2019_all_ages,deaths_2010_all_ages,deaths_2011_all_ages,deaths_2012_all_ages,deaths_2013_all_ages,deaths_2014_all_ages,deaths_2021_all_ages,time,time_unit,p_scores_0_14,projected_deaths_2020_2022_all_ages,excess_proj_all_ages,cum_excess_proj_all_ages,cum_proj_deaths_all_ages,cum_p_proj_all_ages,p_proj_all_ages,p_proj_0_14,p_proj_15_64,p_proj_65_74,p_proj_75_84,p_proj_85p,cum_excess_per_million_proj_all_ages,excess_per_million_proj_all_ages,deaths_2022_all_ages,deaths_2020_2022_all_ages
3561,Germany,2020-12-20,32.45,7.81,22.23,29.77,48.44,24724.0,18667.2,17408.0,19376.0,18500.0,18990.0,19062.0,18030.0,17798.0,17986.0,17306.0,18378.0,22479.0,51,weekly,-26.39,19085.7,5638.3,17710.5,932642.5,1.90,29.54,-23.93,10.27,24.34,24.13,43.44,212.432937,67.629973,NaN,24724.0
3562,Germany,2020-12-27,39.29,12.44,28.17,38.57,53.90,25554.0,18346.0,17176.0,19744.0,18652.0,17954.0,18204.0,17882.0,17723.0,17835.0,17080.0,18139.0,22168.0,52,weekly,1.97,18764.5,6789.5,24500.0,951407.0,2.58,36.18,5.39,15.11,30.46,32.36,48.76,293.871261,81.438323,NaN,25554.0
3563,Germany,2021-01-03,39.22,15.85,29.84,39.80,51.01,25541.0,18346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,weekly,-14.82,18764.5,6776.5,31276.5,970171.5,3.22,36.11,-11.97,18.60,32.16,33.55,45.95,375.153653,81.282392,NaN,25541.0
3564,Germany,2021-01-10,29.62,7.27,20.08,30.57,41.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,weekly,-27.95,19783.2,5135.8,36412.3,989954.7,3.68,25.96,-25.02,10.40,22.81,23.11,35.27,436.756266,61.602613,NaN,24919.0
3565,Germany,2021-01-17,25.51,6.92,19.48,26.09,34.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,weekly,-19.66,20104.4,4427.6,40839.9,1010059.1,4.04,22.02,-16.41,10.00,22.15,19.03,28.97,489.864200,53.107934,NaN,24532.0

In [42]:
de = de_raw[['location', 'date', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'time']]
de

,location,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,time
3511,Germany,2020-01-05,19225.2,18883.0,24919.0,1
3512,Germany,2020-01-12,19546.4,19408.0,24532.0,2
3513,Germany,2020-01-19,19542.6,18953.0,24129.0,3
3514,Germany,2020-01-26,19762.4,18827.0,22674.0,4
3515,Germany,2020-02-02,20443.8,19774.0,21773.0,5
...,...,...,...,...,...,...
3659,Germany,2022-11-06,NaN,NaN,NaN,44
3660,Germany,2022-11-13,NaN,NaN,NaN,45
3661,Germany,2022-11-20,NaN,NaN,NaN,46
3662,Germany,2022-11-27,NaN,NaN,NaN,47
3663,Germany,2022-12-04,NaN,NaN,NaN,48

In [44]:
de.date = pd.to_datetime(de.date)
de.dtypes

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_28081/4280683768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de.date = pd.to_datetime(de.date)

location                                     object
date                                 datetime64[ns]
average_deaths_2015_2019_all_ages           float64
deaths_2020_all_ages                        float64
deaths_2021_all_ages                        float64
time                                          int64
dtype: object

In [78]:
de_ueber = de.groupby(by = de.date.dt.year)['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_28081/3728701411.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  de_ueber = de.groupby(by = de.date.dt.year)['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()

In [79]:
de_ueber.reset_index(inplace=True)
de_ueber

,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages
0,2020,929645.0,975907.0,1019039.0
1,2021,18346.0,25541.0,0.0
2,2022,0.0,0.0,0.0

In [88]:
de_ueber.drop(de_ueber.iloc[1:].index, axis=0, inplace=True)
de_ueber.drop(columns=['date'], inplace=True)
de_ueber

,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages
0,929645.0,975907.0,1019039.0

In [90]:
de_ueber['differnez_2020'] = de_ueber.deaths_2020_all_ages - de_ueber.average_deaths_2015_2019_all_ages
de_ueber['differnez_2021'] = de_ueber.deaths_2021_all_ages - de_ueber.average_deaths_2015_2019_all_ages
de_ueber

,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,differnez_2020,differnez_2021
0,929645.0,975907.0,1019039.0,46262.0,89394.0

In [94]:
mort = mort_raw[['location', 'date', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'time']]
mort

,location,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,time
0,Albania,2020-01-31,2447.8,2187.0,3002.0,1
1,Albania,2020-02-29,1975.2,2018.0,3773.0,2
2,Albania,2020-03-31,1980.8,1993.0,3447.0,3
3,Albania,2020-04-30,1747.6,1804.0,2419.0,4
4,Albania,2020-05-31,1698.6,1803.0,1874.0,5
...,...,...,...,...,...,...
10742,Uzbekistan,2022-07-31,NaN,NaN,NaN,7
10743,Uzbekistan,2022-08-31,NaN,NaN,NaN,8
10744,Uzbekistan,2022-09-30,NaN,NaN,NaN,9
10745,Uzbekistan,2022-10-31,NaN,NaN,NaN,10
10746,Uzbekistan,2022-11-30,NaN,NaN,NaN,11

In [97]:
mort.date = pd.to_datetime(mort.date)
mort.dtypes

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_28081/1824793021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort.date = pd.to_datetime(mort.date)

location                                     object
date                                 datetime64[ns]
average_deaths_2015_2019_all_ages           float64
deaths_2020_all_ages                        float64
deaths_2021_all_ages                        float64
time                                          int64
dtype: object

In [129]:
mort_year = mort.groupby(by = [mort.date.dt.year, mort.location])['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_28081/789744640.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mort_year = mort.groupby(by = [mort.date.dt.year, mort.location])['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()

In [130]:
mort_year.reset_index(inplace=True)

In [132]:
mort_year.drop(mort_year[(mort_year.date == 2022) | (mort_year.date == 2021)].index , inplace=True)

In [140]:
mort_year

,date,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,differnez_2020,differnez_2021
0,2020,Albania,21955.80,27605.0,30580.0,5649.20,8624.20
1,2020,Algeria,179289.65,235628.0,0.0,56338.35,-179289.65
2,2020,Andorra,310.20,419.0,0.0,108.80,-310.20
3,2020,Antigua and Barbuda,570.60,574.0,649.0,3.40,78.40
4,2020,Argentina,341388.60,376221.0,0.0,34832.40,-341388.60
...,...,...,...,...,...,...,...
120,2020,Ukraine,584265.60,616835.0,714263.0,32569.40,129997.40
121,2020,United Kingdom,604254.20,685124.0,665663.0,80869.80,61408.80
122,2020,United States,2788145.50,3353347.0,3457018.0,565201.50,668872.50
123,2020,Uruguay,33869.60,32638.0,40599.0,-1231.60,6729.40
124,2020,Uzbekistan,155406.40,175637.0,174540.0,20230.60,19133.60

#### Maßnahmen

In [53]:
mass = pd.read_csv('government_response')
mass.Entity.unique()

,Entity,Year,school_closures,workplace_closures,cancel_public_events,close_public_transport,public_information_campaigns,restrictions_internal_movements,international_travel_controls,fiscal_measures,emergency_investment_healthcare,investment_vaccines,contact_tracing,stringency_index,restriction_gatherings,stay_home_requirements,income_support,debt_relief,international_support,testing_policy,containment_index,facial_coverings,vaccination_policy,vaccine_eligibility
0,Afghanistan,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
1,Afghanistan,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
2,Afghanistan,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
3,Afghanistan,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
4,Afghanistan,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121118,Zimbabwe,645,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,47.22,2.0,1.0,0.0,NaN,NaN,3.0,55.95,3.0,5.0,NaN
121119,Zimbabwe,646,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,47.22,2.0,1.0,0.0,NaN,NaN,3.0,55.95,3.0,5.0,NaN
121120,Zimbabwe,647,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,47.22,2.0,1.0,0.0,NaN,NaN,3.0,55.95,3.0,5.0,NaN
121121,Zimbabwe,648,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,47.22,2.0,1.0,0.0,NaN,NaN,3.0,55.95,3.0,5.0,NaN
121122,Zimbabwe,649,1.0,1.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,47.22,2.0,1.0,0.0,NaN,NaN,3.0,55.95,3.0,5.0,NaN

In [59]:
mass.Entity.value_counts()

Guyana      660
Belgium     660
Brunei      659
Taiwan      659
Sweden      658
           ...
Guam        640
Rwanda      640
Albania     637
Djibouti    634
Comoros     342
Name: Entity, Length: 186, dtype: int64

#### Vaccination

In [60]:
vax = pd.read_csv('vaccinations.csv')
vax

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148100,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,NaN,2076.0,74.87,39.44,29.11,6.33,127.0,638.0,0.004
148101,Zimbabwe,ZWE,2022-10-06,NaN,NaN,NaN,NaN,NaN,1714.0,NaN,NaN,NaN,NaN,105.0,563.0,0.003
148102,Zimbabwe,ZWE,2022-10-07,NaN,NaN,NaN,NaN,NaN,1529.0,NaN,NaN,NaN,NaN,94.0,462.0,0.003
148103,Zimbabwe,ZWE,2022-10-08,NaN,NaN,NaN,NaN,NaN,1344.0,NaN,NaN,NaN,NaN,82.0,361.0,0.002
148104,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,NaN,1126.0,74.89,39.45,29.11,6.33,69.0,332.0,0.002

In [139]:
vax.date = pd.to_datetime(vax.date)

### Mögliche Gruppierungen

In [137]:
# Quelle https://datacatalog.worldbank.org/search/dataset/0037712/World-Development-Indicators
laender = pd.read_csv('WDI_csv/WDICountry.csv')
laender

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,2013,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,BPM6,NaN,General trade system,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,2016,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,BPM6,Estimate,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,2002,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,NaN,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,2008.0,Value added at basic prices (VAB),IDA,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,NaN,NaN,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",NaN,2014,NaN,NaN,NaN
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,The World Bank systematically assesses the app...,Middle East & North Africa,Low income,RY,1990,NaN,Value added at basic prices (VAB),IDA,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,BPM5 (Converted into BPM6 by IMF),Estimate,Special trade system,NaN,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",NaN,NaN,2012.0,2015.0,NaN
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,ZA,2015,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",NaN,2007,2010.0,2018.0,NaN
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,National accounts data were rebased to reflect...,Sub-Saharan Africa,Low income,ZM,2010,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",NaN,NaN,1994.0,2018.0,NaN
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,National Accounts data are reported in Zimbabw...,Sub-Saharan Africa,Lower middle income,ZW,2019,NaN,Value added at basic prices (VAB),Blend,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2018.0,NaN

### Bevölkerungsdichte

In [142]:
dicht = pd.read_excel('bev_dichte.xlsx')
dicht

    Platz         Land          Fläche   Einwohner  Einwohner pro km²
0       1      Macau *          30 km²    0,69 Mio            22585.8
1       2       Monaco         2,0 km²    0,04 Mio            18161.4
2       3     Singapur         719 km²    5,45 Mio             7584.9
3       4   Hongkong *       1.110 km²    7,41 Mio             6678.5
4       5  Gibraltar *         6,8 km²    0,03 Mio             4804.3
..    ...          ...             ...         ...                ...
92     93     Russland  17.098.250 km²  143,45 Mio                8.4
93     94   Kasachstan   2.724.902 km²   19,00 Mio                7.0
94     95       Kanada   9.984.670 km²   38,25 Mio                3.8
95     96       Island     103.000 km²    0,37 Mio                3.6
96     97   Australien   7.741.220 km²   25,69 Mio                3.3

[97 rows x 5 columns]