In [76]:
import pandas as pd

In [77]:
pd.options.display.max_columns = None

#### Expenditure per Capita for PHC

In [ ]:
phc = pd.read_excel('PHC per capita in usd.xlsx')
phc

#### Current health Expenditures

In [ ]:
pd.read_excel('Current_health_expenditure.xlsx')

### JHU Daten/ Inzidenzen

In [ ]:
new_cases = pd.read_csv('new_cases.csv')
new_cases

In [120]:
weekly_new_raw = pd.read_csv('weekly_cases_per_million.csv')
weekly_new_raw.iloc[1000::]

FileNotFoundError: [Errno 2] No such file or directory: 'weekly_cases_per_million.csv'

In [ ]:
weekly_new_raw['date'] = pd.to_datetime(weekly_new_raw['date'])

In [ ]:
week = weekly_new_raw.groupby(by=[pd.Grouper(key='date', freq='W')]).mean()
week

In [ ]:
inz = week.unstack(level=0)
inzidenz = pd.DataFrame(inz)
inzidenz.reset_index(inplace=True)
inzidenz.rename(columns={'level_0':'Entity', 0:'data'}, inplace=True)
inzidenz

### Daten in kleinen Mengen speichern

#### Bevölkerungszahlen

In [ ]:
einwohner = pd.read_csv('locations.csv')
einwohner

#### Gdp Daten vorbereiten

In [ ]:
# Quelle https://data.worldbank.org/indicator/NY.GDP.PCAP.CD?view=chart
gdp_raw = pd.read_csv('API_NY/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_4770417.csv', delimiter= ',')

In [ ]:
# GDP per Capita für 2020,2021
gdp_20_21 = gdp_raw[['Country Name', 'Country Code','2020','2021']]
gdp_20_21

In [ ]:
# Null Values bereinigen
# gdp[gdp.gdp.isnull()]
gdp_20_21=gdp_20_21.dropna(axis=0, how='any')
gdp_20_21

Kosten für die primäre Gesunheitsversorgung per capita USD

In [ ]:
phc_expenditure=pd.read_excel('PHC per capita in usd.xlsx')
phc_expenditure

### Übersterblichkeit Data-Set

In [78]:
# Data Quelle https://github.com/owid/covid-19-data/tree/master/public/data/excess_mortality
mort_raw = pd.read_csv('excess_mortality.csv')
mort_raw

,location,date,p_scores_all_ages,p_scores_15_64,p_scores_65_74,p_scores_75_84,p_scores_85plus,deaths_2020_all_ages,average_deaths_2015_2019_all_ages,deaths_2015_all_ages,deaths_2016_all_ages,deaths_2017_all_ages,deaths_2018_all_ages,deaths_2019_all_ages,deaths_2010_all_ages,deaths_2011_all_ages,deaths_2012_all_ages,deaths_2013_all_ages,deaths_2014_all_ages,deaths_2021_all_ages,time,time_unit,p_scores_0_14,projected_deaths_2020_2022_all_ages,excess_proj_all_ages,cum_excess_proj_all_ages,cum_proj_deaths_all_ages,cum_p_proj_all_ages,p_proj_all_ages,p_proj_0_14,p_proj_15_64,p_proj_65_74,p_proj_75_84,p_proj_85p,cum_excess_per_million_proj_all_ages,excess_per_million_proj_all_ages,deaths_2022_all_ages,deaths_2020_2022_all_ages
0,Albania,2020-01-31,-10.65,NaN,NaN,NaN,NaN,2187.0,2447.8,2490.0,2065.0,3129.0,2158.0,2397.0,NaN,NaN,NaN,NaN,NaN,3002.0,1,monthly,NaN,2434.2,-247.2,-247.2,2434.2,-10.16,-10.16,NaN,NaN,NaN,NaN,NaN,-86.971268,-86.971268,3294.0,2187.0
1,Albania,2020-02-29,2.17,NaN,NaN,NaN,NaN,2018.0,1975.2,2139.0,1905.0,1845.0,2013.0,1974.0,NaN,NaN,NaN,NaN,NaN,3773.0,2,monthly,NaN,1961.6,56.4,-190.8,4395.8,-4.34,2.88,NaN,NaN,NaN,NaN,NaN,-67.128309,19.842959,2752.0,2018.0
2,Albania,2020-03-31,0.62,NaN,NaN,NaN,NaN,1993.0,1980.8,2051.0,1910.0,1817.0,2136.0,1990.0,NaN,NaN,NaN,NaN,NaN,3447.0,3,monthly,NaN,1967.2,25.8,-165.0,6363.0,-2.59,1.31,NaN,NaN,NaN,NaN,NaN,-58.051210,9.077098,1892.0,1993.0
3,Albania,2020-04-30,3.23,NaN,NaN,NaN,NaN,1804.0,1747.6,1906.0,1652.0,1665.0,1828.0,1687.0,NaN,NaN,NaN,NaN,NaN,2419.0,4,monthly,NaN,1734.0,70.0,-95.0,8097.0,-1.17,4.04,NaN,NaN,NaN,NaN,NaN,-33.423424,24.627786,1707.0,1804.0
4,Albania,2020-05-31,6.15,NaN,NaN,NaN,NaN,1803.0,1698.6,1709.0,1716.0,1660.0,1664.0,1744.0,NaN,NaN,NaN,NaN,NaN,1874.0,5,monthly,NaN,1685.0,118.0,23.0,9782.0,0.24,7.00,NaN,NaN,NaN,NaN,NaN,8.091987,41.515411,1675.0,1803.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10742,Uzbekistan,2022-07-31,25.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,monthly,NaN,13948.1,3320.9,43509.5,404773.5,10.75,23.81,NaN,NaN,NaN,NaN,NaN,1256.495965,95.903135,NaN,17269.0
10743,Uzbekistan,2022-08-31,53.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,monthly,NaN,12469.1,6301.9,49811.4,417242.6,11.94,50.54,NaN,NaN,NaN,NaN,NaN,1438.486379,181.990414,NaN,18771.0
10744,Uzbekistan,2022-09-30,24.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,monthly,NaN,11073.5,2415.5,52226.9,428316.1,12.19,21.81,NaN,NaN,NaN,NaN,NaN,1508.242778,69.756398,NaN,13489.0
10745,Uzbekistan,2022-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,monthly,NaN,12134.1,NaN,NaN,440450.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10746,Uzbekistan,2022-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,monthly,NaN,13046.7,NaN,NaN,453496.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Aufbereitung der Daten für weiteren Analysen

In [97]:
mort_raw.date = pd.to_datetime(mort_raw.date)

In [98]:
mort_selected = mort_raw[['location', 'date', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'deaths_2022_all_ages']]
mort_selected.dtypes

location                                     object
date                                 datetime64[ns]
average_deaths_2015_2019_all_ages           float64
deaths_2020_all_ages                        float64
deaths_2021_all_ages                        float64
deaths_2022_all_ages                        float64
dtype: object

In [99]:
mort_selected['month'] = mort_selected['date'].dt.month
mort_selected['year'] = mort_selected['date'].dt.year

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/2211750168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_selected['month'] = mort_selected['date'].dt.month
/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/2211750168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_selected['year'] = mort_selected['date'].dt.year

In [103]:
# Gruppierung nach 'month' und 'year' und 'land'
grouped = mort_selected.groupby(['month', 'year', 'location'])[['average_deaths_2015_2019_all_ages','deaths_2020_all_ages','deaths_2021_all_ages','deaths_2022_all_ages']].sum().reset_index()

In [106]:
# Umwandeln der Series in einen Dataframe
grouped.rename(columns= {'average_deaths_2015_2019_all_ages':'2015_2019', 'deaths_2020_all_ages':'2020', 'deaths_2021_all_ages':'2021', 'deaths_2022_all_ages':'2022'}, inplace = True)

In [114]:
mort_zw = grouped.drop(index= grouped[(grouped['year']==2021)|(grouped['year']==2022)].index)
mort_fin = mort_zw.melt(id_vars=['location', 'month'], value_vars=['2015_2019', '2020', '2021', '2022'], var_name='jahr', value_name='gestorben')

In [119]:
mort_fin[mort_fin['location']=='Germany']

     location  month       jahr  gestorben
43    Germany      1  2015_2019    78076.6
168   Germany      2  2015_2019    83336.6
293   Germany      3  2015_2019   102555.4
418   Germany      4  2015_2019    71463.8
543   Germany      5  2015_2019    84338.8
668   Germany      6  2015_2019    65402.6
793   Germany      7  2015_2019    67328.0
918   Germany      8  2015_2019    82575.0
1043  Germany      9  2015_2019    64867.2
1168  Germany     10  2015_2019    68214.0
1293  Germany     11  2015_2019    87860.0
1418  Germany     12  2015_2019    73627.0
1543  Germany      1       2020    76071.0
1668  Germany      2       2020    77413.0
1793  Germany      3       2020    98421.0
1918  Germany      4       2020    78982.0
2043  Germany      5       2020    86511.0
2168  Germany      6       2020    67557.0
2293  Germany      7       2020    66023.0
2418  Germany      8       2020    88838.0
2543  Germany      9       2020    68945.0
2668  Germany     10       2020    71457.0
2793  Germany     11       2020    98804.0
2918  Germany     12       2020    96885.0
3043  Germany      1       2021    96254.0
3168  Germany      2       2021    82191.0
3293  Germany      3       2021    92392.0
3418  Germany      4       2021    76808.0
3543  Germany      5       2021    91103.0
3668  Germany      6       2021    70722.0
3793  Germany      7       2021    69480.0
3918  Germany      8       2021    86574.0
4043  Germany      9       2021    73222.0
4168  Germany     10       2021    77306.0
4293  Germany     11       2021   111299.0
4418  Germany     12       2021    91688.0
4543  Germany      1       2022    80598.0
4668  Germany      2       2022    82687.0
4793  Germany      3       2022   105306.0
4918  Germany      4       2022    80019.0
5043  Germany      5       2022    92124.0
5168  Germany      6       2022    73803.0
5293  Germany      7       2022    78111.0
5418  Germany      8       2022    96331.0
5543  Germany      9       2022    75631.0
5668  Germany     10       2022    84546.0
5793  Germany     11       2022    59827.0
5918  Germany     12       2022        0.0

#### Die Übersterblichkeiten mit Inzidenzen joinen

In [ ]:
mort_inz = pd.merge(left=mort_month, right=inzidenz, left_on=['location', 'date'], right_on=['Entity', 'date'], how='left')
mort_inz

In [ ]:
mort_inz[(mort_inz['Entity'].notnull())&(mort_inz['location']=='Albania')]

In [ ]:
# Welche Länder sind nicht vorhanden
mort_location = pd.DataFrame(mort_month['location'].unique()).rename(columns={0:'land'}).add_suffix('_right')

inz_location = pd.DataFrame(inzidenz['Entity'].unique()).rename(columns={0:'land'}).add_suffix('_left')

location_check_inzidenz = pd.merge(right=mort_location, left=inz_location, how='left', left_on='land_left', right_on='land_right')
location_check_inzidenz

In [ ]:
l = location_check_inzidenz[location_check_inzidenz['land_right'].isnull()]
l.apply(lambda row: print(row['land_left']), axis=1)

In [ ]:
mort_location = pd.DataFrame(mort_month['location'].unique()).rename(columns={0:'land'}).add_suffix('_mort')

inz_location = pd.DataFrame(inzidenz['Entity'].unique()).rename(columns={0:'land'}).add_suffix('_inz')

location_check_mort = pd.merge(left=mort_location, right=inz_location, how='left', left_on='land_mort', right_on='land_inz')
location_check_mort

#### Maßnahmen

In [ ]:
mass = pd.read_csv('government_response')
mass.Entity.unique()

#### Vaccination

In [ ]:
vax = pd.read_csv('vaccinations.csv')

In [ ]:
vax

In [ ]:
vax.date = pd.to_datetime(vax.date)

In [ ]:
vax.fillna(0)

In [ ]:
vax_test = vax.fillna(0).describe()
vax_test

In [ ]:
vax['year'] = vax['date'].dt.year
vax['month'] = vax['date'].dt.month
vax['week_of_year'] = vax['date'].dt.weekofyear

In [ ]:
vax_monat = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.month])['people_vaccinated','people_fully_vaccinated','total_boosters','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred'].sum()

In [ ]:
vax_monat

In [ ]:
vax_week = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.weekofyear])['people_vaccinated','people_fully_vaccinated','total_boosters','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred'].sum()

In [ ]:
vax_week

### Mögliche Gruppierungen

In [ ]:
# Quelle https://datacatalog.worldbank.org/search/dataset/0037712/World-Development-Indicators
laender = pd.read_csv('WDI_csv/WDICountry.csv')
laender

In [ ]:
laender['Income Group'].unique()

### Bevölkerungsdichte

In [ ]:
dicht = pd.read_excel('bev_dichte.xlsx')
dicht

### Krankenhausauslastung

In [ ]:
#Einlesen der Daten für Krankenhausauslastung
hospitalizations_raw = pd.read_csv('covid-hospitalizations.csv')
hospitalizations_raw

In [ ]:
#Rename Columns
hospitalizations_raw.rename(columns={'entity':'country_name', 'date':'datum'}, inplace=True)
#Droppen Columns
hospitalizations_raw.drop(columns=["iso_code"], inplace=True)
hospitalizations_raw

In [ ]:
# Auslesen der Unique Werte, um Aufteilung zu ermöglichen
hospitalizations_raw.indicator.unique()

In [ ]:
#Aufteilen der Spalte "indicator" in 8 spalten
hospitalizations = pd.get_dummies(hospitalizations_raw, columns=['indicator'], prefix = ['indicator'])

In [ ]:
hospitalizations

In [ ]:
# Welche Spalten sollen übernommen werden für weitere Analyse
# Außerdem müssen werte weiter standardisiert werden, da die Bevölkerungsmaßeinheit hier bei 10000 liegt
# Behalten der Spalte "indicator_Daily ICU occupancy"
hospitalizations_daily_icu_occupancy = hospitalizations[hospitalizations["indicator_Daily ICU occupancy"] == 1]

In [ ]:
hospitalizations_daily_icu_occupancy

In [ ]:
#Entfernen der nicht benötigten Spalten
hospitalizations_daily_icu_occupancy.drop(hospitalizations_daily_icu_occupancy.columns[3:], axis = 1, inplace=True)

In [ ]:
hospitalizations_daily_icu_occupancy
hospitalizations_daily_icu_occupancy.value.unique()

In [ ]:
# Standardisierung der absoluten Werte im Verhältnis zu 100000
hospitalizations_daily_icu_occupancy["value_per_100000"] = hospitalizations_daily_icu_occupancy["value"].div(100000)

#Ausgeben und überprüfen
hospitalizations_daily_icu_occupancy

In [ ]:
hospitalizations_daily_icu_occupancy

In [ ]:
hospitalizations_daily_icu_occupancy.datum = pd.to_datetime(hospitalizations_daily_icu_occupancy.datum)

In [ ]:
hospitalizations_daily_icu_occupancy.dtypes

In [ ]:
hospitalizations_daily_icu_occupancy

In [ ]:
hospitalizations_daily_icu_occupancy['day'] = hospitalizations_daily_icu_occupancy['datum'].dt.day
hospitalizations_daily_icu_occupancy['month'] = hospitalizations_daily_icu_occupancy['datum'].dt.month
hospitalizations_daily_icu_occupancy['year'] = hospitalizations_daily_icu_occupancy['datum'].dt.year

In [ ]:
hospitalizations_daily_icu_occupancy

In [ ]:
hospitalizations_daily_icu_occupancy.drop('day', axis=1, inplace=True)

In [ ]:
hospitalizations_daily_icu_occupancy

In [ ]:
# Gruppierung nach 'month' und 'year' und 'land'
grouped_hospitalizations_daily_icu_occupancy = hospitalizations_daily_icu_occupancy.groupby(['month', 'year', 'country_name'])

In [ ]:
# Berechnung der Summe der Spalte 'value_per_100000' für jede Gruppe
result_hospitalizations = grouped_hospitalizations_daily_icu_occupancy['value_per_100000'].sum()

In [ ]:
# Umwandeln der Series in einen Dataframe
result_hospitalizations = result_hospitalizations.reset_index()

In [ ]:
result_hospitalizations.sort_values(by=['country_name', 'year', 'month'] )
result_hospitalizations.reset_index()

      index  month  year   country_name  value_per_100000
0         0      1  2021        Algeria           0.00814
1         1      1  2021      Argentina           1.07281
2         2      1  2021      Australia           0.00012
3         3      1  2021        Austria           0.10634
4         4      1  2021        Belgium           0.11368
...     ...    ...   ...            ...               ...
1333   1333     12  2022    South Korea           0.15447
1334   1334     12  2022          Spain           0.07452
1335   1335     12  2022    Switzerland           0.01478
1336   1336     12  2022  United States           1.26918
1337   1337     12  2022          Wales           0.00346

[1338 rows x 5 columns]

In [ ]:
result_hospitalizations

      month  year   country_name  value_per_100000
0         1  2021        Algeria           0.00814
1         1  2021      Argentina           1.07281
2         1  2021      Australia           0.00012
3         1  2021        Austria           0.10634
4         1  2021        Belgium           0.11368
...     ...   ...            ...               ...
1333     12  2022    South Korea           0.15447
1334     12  2022          Spain           0.07452
1335     12  2022    Switzerland           0.01478
1336     12  2022  United States           1.26918
1337     12  2022          Wales           0.00346

[1338 rows x 4 columns]

In [ ]:
result_hospitalizations[result_hospitalizations['country_name'] == 'Germany'].sort_values(by=['year', 'month'] )

      month  year country_name  value_per_100000
208       3  2020      Germany           0.09275
321       4  2020      Germany           0.77924
434       5  2020      Germany           0.40228
548       6  2020      Germany           0.13600
662       7  2020      Germany           0.08365
777       8  2020      Germany           0.07328
892       9  2020      Germany           0.07801
1008     10  2020      Germany           0.26849
1124     11  2020      Germany           0.98502
1239     12  2020      Germany           1.48516
15        1  2021      Germany           1.56505
132       2  2021      Germany           0.97568
241       3  2021      Germany           0.93277
355       4  2021      Germany           1.40077
470       5  2021      Germany           1.21309
584       6  2021      Germany           0.37941
699       7  2021      Germany           0.12994
815       8  2021      Germany           0.19208
931       9  2021      Germany           0.42423
1047     10  2021      Germany           0.46761
1163     11  2021      Germany           0.98498
1278     12  2021      Germany           1.42655
56        1  2022      Germany           0.89069
174       2  2022      Germany           0.66309
283       3  2022      Germany           0.69602
397       4  2022      Germany           0.54553
511       5  2022      Germany           0.29093
625       6  2022      Germany           0.21650
740       7  2022      Germany           0.39338
856       8  2022      Germany           0.34467
972       9  2022      Germany           0.22189
1088     10  2022      Germany           0.48742
1203     11  2022      Germany           0.33011
1318     12  2022      Germany           0.35122
93        1  2023      Germany           0.15421