In [20]:
import pandas as pd

In [21]:
pd.options.display.max_columns = None

#### Expenditure per Capita for PHC

In [51]:
phc = pd.read_excel('PHC per capita in usd.xlsx')
phc

,Countries,Indicators,Unnamed: 2,2019,2020,2021
0,NaN,NaN,NaN,Value,Value,Value
1,Botswana,Primary Health Care (PHC) Expenditure per Capi...,NaN,262.397605,NaN,NaN
2,Burkina Faso,Primary Health Care (PHC) Expenditure per Capi...,NaN,31.132356,40.026957,NaN
3,Burundi,Primary Health Care (PHC) Expenditure per Capi...,NaN,12.567859,NaN,NaN
4,Cabo Verde Republic of,Primary Health Care (PHC) Expenditure per Capi...,NaN,79.099014,NaN,NaN
...,...,...,...,...,...,...
97,China,Primary Health Care (PHC) Expenditure per Capi...,NaN,108.549661,NaN,NaN
98,Fiji,Primary Health Care (PHC) Expenditure per Capi...,NaN,144.330456,NaN,NaN
99,Lao People's Democratic Republic,Primary Health Care (PHC) Expenditure per Capi...,NaN,46.520688,NaN,NaN
100,Malaysia,Primary Health Care (PHC) Expenditure per Capi...,NaN,177.743965,183.738779,NaN
101,Republic of Korea,Primary Health Care (PHC) Expenditure per Capi...,NaN,NaN,1483.030712,1740.882266

#### Current health Expenditures

In [66]:
pd.read_excel('Current_health_expenditure.xlsx')

,Countries,Indicators,Unnamed: 2,2019,2020,2021
0,NaN,NaN,NaN,Value,Value,Value
1,Algeria,Current Health Expenditure (CHE) as % Gross Do...,NaN,6.251709,6.32118,NaN
2,Angola,Current Health Expenditure (CHE) as % Gross Do...,NaN,2.655926,2.911835,NaN
3,Botswana,Current Health Expenditure (CHE) as % Gross Do...,NaN,6.121931,6.186646,NaN
4,Burkina Faso,Current Health Expenditure (CHE) as % Gross Do...,NaN,5.381213,NaN,6.719326
...,...,...,...,...,...,...
183,Solomon Islands,Current Health Expenditure (CHE) as % Gross Do...,NaN,4.462586,4.432182,NaN
184,Tonga,Current Health Expenditure (CHE) as % Gross Do...,NaN,4.7467,5.317539,NaN
185,Tuvalu,Current Health Expenditure (CHE) as % Gross Do...,NaN,20.889786,21.539169,NaN
186,Vanuatu,Current Health Expenditure (CHE) as % Gross Do...,NaN,3.314533,3.969954,NaN
187,Viet Nam,Current Health Expenditure (CHE) as % Gross Do...,NaN,5.033952,4.680668,NaN

### JHU Daten/ Inzidenzen

In [23]:
new_cases = pd.read_csv('new_cases.csv')
new_cases

,date,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,Asia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bermuda,Bhutan,Bolivia,Bonaire Sint Eustatius and Saba,Bosnia and Herzegovina,Botswana,Brazil,British Virgin Islands,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Cayman Islands,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Cook Islands,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Curacao,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Europe,European Union,Faeroe Islands,Falkland Islands,Fiji,Finland,France,French Polynesia,Gabon,Gambia,Georgia,Germany,Ghana,Gibraltar,Greece,Greenland,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,High income,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,International,Iran,Iraq,Ireland,Isle of Man,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Low income,Lower middle income,Luxembourg,Macao,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Montserrat,Morocco,Mozambique,Myanmar,Namibia,Nauru,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,North America,North Korea,North Macedonia,Norway,Oceania,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Helena,Saint Kitts and Nevis,Saint Lucia,Saint Pierre and Miquelon,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South America,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Tonga,Trinidad and Tobago,Tunisia,Turkey,Turks and Caicos Islands,Tuvalu,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Upper middle income,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,92.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2,2020-01-24,287.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,278.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,2020-01-25,493.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,483.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,488.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,2020-01-26,683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,676.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,663.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,665.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,2023-01-07,360290.0,0.0,323.0,29.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,340148.0,0.0,1641.0,120.0,0.0,43.0,10.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0,0.0,0.0,5.0,0.0,752.0,0.0,0.0,0.0,0.0,4419.0,10684.0,0.0,0.0,0.0,0.0,NaN,7.0,46.0,28.0,0.0,NaN,375.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,7571.0,3480.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1527.0,0.0,0.0,0.0,0.0,341293.0,NaN,15850.0,0.0,0.0,163.0,455.0,0.0,107.0,0.0,0.0,0.0,558.0,NaN,0.0,238654.0,0.0,0.0,18.0,0.0,12.0,0.0,0.0,6.0,0.0,179.0,0.0,0.0,0.0,0.0,301.0,236.0,1750.0,0.0,89.0,0.0,0.0,571.0,0.0,0.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,0.0,4.0,0.0,0.0,3.0,0.0,0.0,14.0,0.0,0.0,13.0,7815.0,0.0,0.0,65.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,643.0,120.0,0.0,57.0,0.0,3284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,682.0,0.0,0.0,684.0,51.0,835.0,0.0,0.0,0.0,4419.0,46766.0,0.0,NaN,4.0,0.0,0.0,NaN,0.0,0.0,24410.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,NaN,5508.0,17011.0,0.0,0.0,0.0,0.0,0.0,65.0,0.0,0.0,206.0,0.0
1082,2023-01-08,313676.0,53.0,85.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,257885.0,3373.0,2072.0,105.0,0.0,62.0,17.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,3394.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,0.0,0.0,6.0,0.0,555.0,0.0,0.0,0.0,0.0,3784.0,7074.0,0.0,0.0,0.0,0.0,NaN,1.0,161.0,19.0,0.0,NaN,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,9.0,6582.0,2824.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,206.0,0.0,0.0,0.0,0.0,280789.0,NaN,14113.0,0.0,0.0,170.0,345.0,0.0,117.0,0.0,0.0,0.0,380.0,NaN,0.0,190538.0,0.0,0.0,1.0,0.0,12.0,0.0,0.0,5.0,45.0,372.0,0.0,0.0,0.0,0.0,31.0,72.0,5124.0,0.0,107.0,10.0,0.0,405.0,0.0,0.0,25.0,0.0,0.0,0.0,12839.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,21660.0,0.0,0.0,0.0,13619.0,0.0,0.0,49.0,25033.0,0.0,59.0,0.0,0.0,0.0,0.0,NaN,3270.0,508.0,143.0,0.0,129.0,0.0,3090.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,539.0,0.0,0.0,546.0,28.0,199.0,0.0,0.0,32.0,10472.0,19106.0,0.0,NaN,2.0,0.0,0.0,NaN,0.0,0.0,23410.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,175.0,NaN,NaN,27691.0,0.0,0.0,0.0,0.0,24.0,52.0,0.0,0.0,0.0,0.0
1083,2023-01-09,361255.0,22.0,2230.0,1.0,1.0,0.0,0.0,0.0,0.0,40982.0,0.0,NaN,202819.0,1262.0,1854.0,16.0,0.0,65.0,17.0,390.0,0.0,NaN,0.0,0.0,0.0,13.0,0.0,0.0,9.0,159.0,0.0,0.0,0.0,230.0,17.0,0.0,7.0,0.0,3967.0,2.0,0.0,0.0,0.0,2523.0,13906.0,39.0,3.0,0.0,0.0,NaN,2.0,36.0,24.0,0.0,NaN,43.0,0.0,1218.0,0.0,0.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0,60017.0,55819.0,0.0,0.0,0.0,NaN,17220.0,0.0,0.0,0.0,0.0,30533.0,0.0,0.0,0.0,0.0,0.0,207.0,0.0,0.0,0.0,0.0,297731.0,NaN,11641.0,0.0,0.0,121.0,266.0,0.0,135.0,0.0,0.0,0.0,1691.0,NaN,36.0,95308.0,0.0,0.0,9.0,0.0,1.0,0.0,19.0,19.0,115.0,176.0,0.0,0.0,0.0,0.0,29.0,786.0,1530.0,89.0,342.0,0.0,0.0,383.0,9.0,0.0,23.0,0.0,0.0,1033.0,0.0,13.0,0.0,0.0,0.0,129.0,0.0,6.0,249.0,7.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,45707.0,0.0,0.0,148.0,1275.0,0.0,7.0,0.0,0.0,0.0,0.0,NaN,0.0,376.0,103.0,0.0,175.0,4107.0,2725.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,114.0,0.0,33.0,0.0,1042.0,0.0,0.0,385.0,15.0,204.0,0.0,0.0,206.0,49207.0,60041.0,0.0,NaN,8.0,0.0,0.0,NaN,0.0,0.0,17314.0,0.0,45.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,29.0,68.0,NaN,41026.0,61208.0,5649.0,172.0,0.0,0.0,14.0,71.0,0.0,0.0,177.0,0.0
1084,2023-01-10,400780.0,25.0,517.0,47.0,7.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,200777.0,1150.0,3019.0,69.0,0.0,49.0,21.0,NaN,0.0,NaN,223.0,0.0,0.0,0.0,2589.0,0.0,33.0,NaN,75218.0,0.0,0.0,193.0,0.0,0.0,3.0,0.0,1423.0,5.0,0.0,0.0,0.0,1993.0,265.0,0.0,0.0,0.0,16.0,NaN,0.0,189.0,20.0,0.0,NaN,668.0,0.0,494.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,392.0,0.0,99.0,49945.0,43434.0,0.0,0.0,0.0,NaN,11773.0,0.0,0.0,0.0,0.0,22119.0,0.0,0.0,0.0,0.0,0.0,1718.0,0.0,0.0,141.0,57.0,280332.0,NaN,9379.0,0.0,161.0,171.0,469.0,0.0,109.0,0.0,0.0,0.0,440.0,NaN,0.0,78982.0,0.0,0.0,9.0,1491.0,1.0,0.0,0.0,14.0,55.0,154.0,0.0,0.0,0.0,0.0,516.0,382.0,5783.0,124.0,NaN,0.0,0.0,380.0,0.0,0.0,26.0,0.0,0.0,0.0,653.0,0.0,302.0,12.0,22.0,87.0,0.0,55.0,NaN,2.0,0.0,0.0,4.0,1891.0,0.0,0.0,0.0,0.0,0.0,65600.0,0.0,238.0,138.0,2657.0,0.0,15.0,0.0,0.0,1403.0,0.0,NaN,1318.0,371.0,504.0,0.0,149.0,NaN,3010.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,0.0,29.0,0.0,1162.0,0.0,0.0,910.0,274.0,1197.0,0.0,0.0,0.0,81284.0,54343.0,0.0,NaN,5.0,0.0,0.0,NaN,1298.0,0.0,25049.0,0.0,0.0,29164.0,0.0,0.0,0.0,406.0,84.0,0.0,0.0,0.0,0.0,22.0,80.0,NaN,59695.0,114267.0,NaN,27.0,0.0,0.0,25.0,77.0,0.0,0.0,258.0,0.0
1085,2023-01-11,516315.0,34.0,2570.0,0.0,6.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,284077.0,1150.0,3164.0,62.0,0.0,55.0,22.0,NaN,0.0,NaN,NaN,0.0,34.0,0.0,NaN,0.0,27.0,NaN,26433.0,0.0,2447.0,128.0,2.0,218.0,4.0,0.0,1344.0,3.0,0.0,0.0,0.0,3803.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,247.0,16.0,0.0,NaN,382.0,0.0,381.0,0.0,0.0,301.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,82.0,44169.0,38656.0,0.0,0.0,0.0,NaN,7635.0,0.0,0.0,0.0,0.0,19379.0,5.0,0.0,0.0,0.0,0.0,1722.0,0.0,0.0,NaN,0.0,476669.0,NaN,9279.0,1597.0,NaN,197.0,402.0,0.0,106.0,0.0,3928.0,0.0,1130.0,NaN,141.0,198873.0,0.0,0.0,22.0,NaN,8.0,0.0,0.0,14.0,49.0,257.0,0.0,0.0,1.0,11.0,295.0,757.0,1731.0,88.0,NaN,0.0,0.0,367.0,0.0,1.0,26.0,0.0,6.0,1018.0,NaN,0.0,NaN,8.0,13.0,75.0,0.0,39.0,NaN,4.0,74.0,0.0,2.0,NaN,118.0,50.0,41.0,0.0,0.0,152995.0,0.0,NaN,126.0,1438.0,0.0,26.0,0.0,0.0,NaN,0.0,NaN,807.0,377.0,370.0,0.0,116.0,NaN,4182.0,0.0,0.0,1.0,0.0,0.0,11.0,17.0,NaN,0.0,30.0,0.0,1057.0,0.0,0.0,598.0,185.0,802.0,0.0,0.0,602.0,31066.0,43953.0,0.0,NaN,6.0,0.0,0.0,NaN,NaN,0.0,25631.0,0.0,71.0,NaN,1.0,1.0,103.0,NaN,0.0,0.0,0.0,0.0,70.0,19.0,0.0,NaN,149384.0,37158.0,NaN,36.0,0.0,0.0,23.0,35.0,0.0,0.0,349.0,0.0

In [24]:
weekly_new_raw = pd.read_csv('weekly_cases_per_million.csv')
weekly_new_raw.iloc[1000::]

FileNotFoundError: [Errno 2] No such file or directory: 'weekly_cases_per_million.csv'

In [25]:
weekly_new_raw['date'] = pd.to_datetime(weekly_new_raw['date'])

NameError: name 'weekly_new_raw' is not defined

In [332]:
week = weekly_new_raw.groupby(by=[pd.Grouper(key='date', freq='W')]).mean()
week

,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,Asia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bermuda,Bhutan,Bolivia,Bonaire Sint Eustatius and Saba,Bosnia and Herzegovina,Botswana,Brazil,British Virgin Islands,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Cayman Islands,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Cook Islands,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Curacao,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Europe,European Union,Faeroe Islands,Falkland Islands,Fiji,Finland,France,French Polynesia,Gabon,Gambia,Georgia,Germany,Ghana,Gibraltar,Greece,Greenland,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,High income,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,International,Iran,Iraq,Ireland,Isle of Man,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Low income,Lower middle income,Luxembourg,Macao,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Montserrat,Morocco,Mozambique,Myanmar,Namibia,Nauru,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,North America,North Korea,North Macedonia,Norway,Oceania,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Helena,Saint Kitts and Nevis,Saint Lucia,Saint Pierre and Miquelon,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South America,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Tonga,Trinidad and Tobago,Tunisia,Turkey,Turks and Caicos Islands,Tuvalu,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Upper middle income,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-01-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-02,0.982143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.653286,0.369333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060000,NaN,0.056333,NaN,NaN,NaN,NaN,NaN,6.059167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019000,0.027000,NaN,NaN,NaN,NaN,0.056000,NaN,NaN,NaN,NaN,0.108000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060000,NaN,1.134833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.088667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001429,NaN,7.192167,NaN,NaN,0.177000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016500,NaN,NaN,NaN,NaN,NaN,NaN,0.011857,NaN,NaN,NaN,0.211000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.774167,NaN,NaN,NaN,NaN,NaN,NaN,0.128833,NaN,NaN,0.046000,NaN,NaN,NaN,NaN,NaN,0.293000,NaN,NaN,0.157667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.014500,3.069286,NaN,NaN,NaN,NaN,NaN,0.020333,NaN,NaN,NaN,NaN
2020-02-09,2.727429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.593429,0.212857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.066857,NaN,NaN,NaN,NaN,NaN,15.145000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.033143,0.031857,NaN,NaN,NaN,0.051429,0.038000,NaN,NaN,NaN,NaN,0.089143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.080571,NaN,1.545143,NaN,NaN,0.001333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023800,NaN,0.086429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003000,NaN,3.904143,NaN,NaN,0.189429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.012571,NaN,NaN,NaN,0.123714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.014333,NaN,NaN,NaN,NaN,0.005600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.167857,NaN,NaN,NaN,NaN,NaN,NaN,0.253714,NaN,0.015750,0.000000,NaN,NaN,0.047500,NaN,NaN,0.233286,NaN,NaN,0.151143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.272571,0.142200,0.015000,8.556714,NaN,NaN,NaN,NaN,NaN,0.069571,NaN,NaN,NaN,NaN
2020-02-16,3.340429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.598714,0.043571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.066857,NaN,NaN,NaN,NaN,NaN,18.461857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.021714,0.021000,NaN,NaN,NaN,0.154286,0.057143,NaN,NaN,NaN,NaN,0.037714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.088714,NaN,3.853143,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009714,NaN,0.128857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001714,NaN,0.411000,NaN,NaN,0.181143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.007286,NaN,NaN,NaN,0.025286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.005143,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.398143,NaN,NaN,NaN,NaN,NaN,NaN,0.137857,NaN,0.018000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.173571,NaN,NaN,0.097857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.272571,0.097429,0.005571,10.426714,NaN,NaN,NaN,NaN,NaN,0.055286,NaN,NaN,NaN,NaN
2020-02-23,2.406429,NaN,0.000500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.972571,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.074286,NaN,NaN,NaN,NaN,NaN,12.937429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0036,NaN,NaN,NaN,NaN,NaN,NaN,0.052857,0.075143,NaN,NaN,NaN,0.051429,0.010714,NaN,NaN,NaN,NaN,0.003429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266714,NaN,2.003000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.551714,NaN,0.522286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004571,NaN,0.000000,NaN,NaN,0.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.007000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.333714,NaN,NaN,NaN,NaN,NaN,NaN,3.416000,NaN,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.257000,NaN,NaN,0.026000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.212000,0.080286,0.004286,7.305143,NaN,NaN,NaN,NaN,NaN,0.005714,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-18,508.682429,9.972143,8.555857,42.772000,0.560000,2243.689286,3.235714,0.0,0.0,510.760286,19.062,139.557429,373.894714,4132.729286,3857.372143,43.375429,0.0,406.475714,0.847000,1606.880571,0.0,870.299429,639.056000,0.064286,253.644000,11.502000,911.757714,2149.300000,33.400000,172.549286,1456.396143,0.0,8061.688714,184.480857,0.000000,17.078857,8.025571,0.0,371.145429,76.346429,0.000000,0.00,0.056,1159.633000,45.333429,74.053143,3.243571,0.0,0.000000,587.660571,0.492286,570.314000,10.256714,0.0,4112.850714,556.931143,3.754286,1283.156143,0.0,0.0,294.179000,444.348286,0.0000,0.0,0.938143,0.0,474.659286,35.664286,5.727857,1546.532000,2293.448714,0.0,0.0,62.688571,2065.477714,6149.600429,942.611286,0.000000,0.0,166.459000,2565.648429,0.000000,590.192143,4900.377429,0.0,60.350000,726.194000,1.958571,0.000,64.652000,0.690714,2711.069857,256.100429,13068.720143,506.985857,0.000000,0.862857,50.114429,NaN,3.184714,0.000000,434.050857,0.0,1081.263,3409.906857,19.907429,7810.151714,0.0,25.164429,3.622571,0.0000,5.210714,0.0,1.508000,37.813143,1445.049143,88.112286,0.000000,1.428143,1.510286,2297.765714,1008.134714,2.908429,17.676714,2231.091429,485.588571,4.153429,1.876286,240.037000,36.274000,0.126429,223.409857,61.823571,0.724143,4599.869143,175.101429,0.000000,104.186000,3398.098000,3325.372857,434.210714,0.0,19.206286,5.824,2.439000,0.000,0.0,0.668714,328.731857,3832.069000,7805.736571,5.160286,0.000000,0.448000,882.053714,0.0,66.529286,259.251571,3337.397429,0.000000,0.308429,1927.513286,36.571,1306.153714,15.451143,197.787143,1772.566000,65.743857,91.745429,264.159286,1028.998571,148.734,341.191000,0.508143,211.601143,17.976714,54.801000,1747.7850,217.118714,5.138857,6203.621000,0.628286,9.656000,0.280429,1754.335667,1913.473571,0.016571,1506.368143,315.966571,5970.994857,0.0,0.341143,30.561286,1024.664571,8679.163429,1.047143,381.856571,2.408000,0.109857,0.000000,950.173571,1915.114143,0.510000,4379.823429,0.0,8.866000,54.166143,12.461143,0.419714,0.000000,114.861143,10.348000,0.000000,318.668571,0.0,0.000000,138.536429,76.595000,483.225286,1371.385286,238.994429,772.760,23.458000,0.000000,0.0,23.027429,26.177571,0.000000,0.0,0.000000,1.680571
2022-12-25,507.990571,9.121143,6.144857,38.097571,0.687143,1431.380286,1.650143,0.0,0.0,1368.063000,0.000,395.860000,397.789143,4206.500429,3781.673571,55.650143,0.0,301.387857,0.672000,267.813429,0.0,779.995571,737.752000,0.085714,338.192000,3.286286,1215.034000,2138.737857,33.621143,97.761714,1228.862714,0.0,5416.456714,166.639571,14.176286,17.899000,7.787000,0.0,443.543000,55.634000,1174.504286,0.00,0.056,1299.926857,12.333286,98.967857,0.682857,0.0,0.000000,1194.181571,0.644143,608.027857,14.270143,0.0,3616.202714,468.200000,1.477714,1420.081286,0.0,0.0,111.028000,260.898000,0.0000,0.0,0.341143,0.0,598.333429,37.685286,8.222000,1398.755571,2050.265857,0.0,0.0,112.931571,1821.492857,4983.688286,443.087714,0.000000,0.0,145.055429,2736.457429,0.448000,1088.576714,4656.962571,0.0,9.109429,733.359143,0.783429,0.000,203.670857,0.912429,2787.670857,163.700000,16220.333714,519.355143,2006.649429,0.785571,29.566714,NaN,3.823429,16.451000,550.911000,0.0,995.026,2688.936429,22.484286,8878.372286,0.0,0.000000,3.400286,0.0000,9.138286,0.0,0.603000,30.888000,1246.586429,80.383857,0.000000,0.431143,1.572714,1902.099714,977.018571,3.455286,12.868714,2479.481000,735.883286,2.070000,0.000000,188.350857,28.637000,0.132857,263.859286,0.000000,0.090429,1749.603429,211.078857,0.000000,132.295000,2474.191143,623.617571,347.641857,0.0,14.175857,2.652,1.373857,78.468,0.0,0.575286,359.606714,2861.981000,7080.360286,5.365857,1.275429,0.000000,916.495714,0.0,78.811286,293.872857,3288.062286,5.462857,0.400000,1540.430571,0.000,1349.802286,11.901571,466.299429,1179.113500,54.424857,97.003429,254.812857,665.379714,172.234,342.379429,6.781714,0.000000,29.961000,46.859000,3131.4480,173.145429,32.760857,5877.115000,0.000000,8.200429,0.313714,912.188000,765.389429,0.000000,1368.224857,293.513286,5694.761429,0.0,0.000000,23.005000,971.362286,9044.986571,0.418857,392.928143,2.211714,0.436143,0.000000,1190.256000,1622.223857,0.038714,4738.894857,0.0,11.385143,46.652857,6.496857,0.161429,116.299286,114.207857,15.111429,0.000000,253.060000,0.0,0.000000,87.466571,55.532143,614.873000,1409.927714,205.257143,1443.557,18.387286,69.517000,0.0,30.487714,17.634000,0.000000,0.0,7.022429,32.824286
2023-01-01,460.820857,6.936286,3.832286,24.778571,0.582000,724.636571,3.155143,0.0,0.0,1360.197000,34.167,158.344000,421.293571,2841.064714,3208.974000,49.499000,0.0,362.713286,0.504857,868.872000,0.0,214.287000,573.141429,0.000000,723.107857,0.547714,1260.552714,580.891714,35.211286,56.864571,1071.534571,0.0,741.008429,129.166286,2.362714,5.342000,5.606143,0.0,314.046143,25.770000,469.801714,7.17,0.056,1497.965143,20.442000,158.394429,3.585000,0.0,0.000000,683.590857,0.568286,564.359286,16.015857,0.0,3124.019000,293.651000,1.461429,1089.158857,0.0,0.0,0.000000,370.193571,0.0000,0.0,0.000000,0.0,475.952143,22.230857,8.404857,986.272571,1445.111857,0.0,0.0,54.698571,754.849286,3053.414000,161.377143,1.614571,0.0,84.126000,2300.701857,0.128143,402.205143,656.855714,0.0,0.000000,489.827000,1.371000,47.018,188.302857,0.764429,2523.085143,158.976000,19840.185143,463.300286,334.441571,1.011571,18.070571,NaN,4.013857,0.000000,167.852857,0.0,841.782,2217.925571,8.993714,9217.793429,0.0,0.000000,1.173857,0.0000,15.150571,0.0,0.000000,23.298857,754.328143,100.863429,0.000000,0.000000,3.083000,1139.807857,911.669000,3.330286,10.003143,767.889000,661.699286,1.476000,0.000000,129.054000,22.910000,0.088714,259.305429,0.000000,0.000000,435.559429,228.850714,0.000000,113.046000,1299.733571,6.894000,322.582571,0.0,10.553000,2.019,1.133714,57.487,0.0,0.841571,372.628429,1002.112143,5309.223143,4.687429,0.212571,0.000000,760.986286,0.0,110.268000,239.114857,2272.789857,2.185143,0.620429,584.574000,0.000,547.698000,2.986000,935.758857,429.873000,34.940714,82.534000,59.920000,609.511857,174.574,298.564857,1.130286,0.000000,23.968571,7.942286,4175.2640,122.301000,21.198143,5728.703143,0.000000,6.909429,0.239286,909.734857,0.000000,0.000000,1136.517000,233.494429,4292.096857,0.0,0.000000,22.945429,885.390143,8923.570429,0.000000,354.013714,1.858429,0.054857,101.471857,1072.049857,1055.974286,0.000000,6254.459714,0.0,2.590857,34.669714,0.213143,0.290571,155.065714,100.772000,8.775714,206.036714,149.961429,0.0,3.174857,71.957857,45.348571,292.291286,1177.071857,191.261429,2629.429,3.453000,28.418857,0.0,27.459143,11.772000,0.000000,0.0,20.960000,5.470714
2023-01-08,432.298857,5.099000,3.900000,28.397286,0.610857,447.306286,0.489714,0.0,0.0,1594.320000,0.000,579.700000,403.933143,2434.427143,2513.978000,37.955143,0.0,267.134714,0.813714,1158.496000,0.0,685.660000,577.723857,0.000000,978.976714,12.780000,919.435429,1013.920000,28.628714,144.578571,680.068143,0.0,4301.603429,155.939143,0.000000,26.798857,3.050143,0.0,363.098429,11.319286,0.000000,0.00,0.056,1401.037571,31.314000,133.435857,1.024286,0.0,11449.037143,1263.171857,0.365286,471.138286,12.817571,0.0,3380.394571,295.475286,0.588571,1222.149571,0.0,0.0,271.368286,286.142857,0.0000,0.0,0.000000,0.0,426.611286,11.531286,5.897000,845.272143,1189.161571,0.0,0.0,57.157143,844.858286,1770.204000,131.526857,1.315571,0.0,123.384857,2124.886286,0.606286,878.730857,0.000000,0.0,177.633429,381.786714,0.000000,0.000,285.987286,1.208714,2336.615857,230.042429,19687.711143,293.502286,744.736286,0.977714,12.846571,NaN,6.842000,9.346286,878.653571,0.0,718.519,2168.905714,10.004571,7820.852000,0.0,0.000000,1.229429,0.0000,23.728000,0.0,1.292571,10.530143,543.360143,155.979286,111.518571,0.000000,1.384286,951.050000,969.486000,3.129714,8.848000,2153.001429,1044.744714,0.482714,0.000000,96.730143,24.546000,0.063143,420.031857,168.298000,0.482857,893.765143,230.930429,155.146286,95.019857,1080.501571,96.096286,424.186857,0.0,7.730714,0.000,0.920286,0.000,0.0,0.883857,290.065429,1153.857857,5265.721143,8.306286,0.000000,0.332857,862.550571,0.0,100.373857,225.208714,2040.770857,0.000000,0.709429,213.290857,0.000,492.966714,0.000000,802.503429,339.730167,24.087857,78.261571,324.051429,425.900429,183.374,207.960000,7.030286,0.000000,107.859429,59.566286,0.0000,147.035714,23.125143,5046.007714,0.000000,5.434429,0.033000,897.365000,0.000000,0.000000,1023.767714,205.649143,3175.639571,0.0,0.486857,16.509857,676.835857,8167.367000,0.000000,281.649143,1.694714,0.194857,608.831143,853.593571,895.129571,0.000000,7605.102143,0.0,1.073143,25.245000,8.840143,0.322857,2013.183143,151.810857,5.364714,1236.220286,0.000000,0.0,0.529143,112.931286,47.224857,635.234286,1336.672714,195.077000,2387.814,15.058000,1.748571,0.0,11.165429,6.390143,887.005714,0.0,40.386000,0.000000
2023-01-15,401.388167,4.178000,4.712333,53.242833,0.712833,187.868500,0.000000,0.0,0.0,900.499000,0.000,864.182500,395.263167,2453.734000,1959.368000,51.216167,0.0,271.016000,0.645500,1384.717000,0.0,983.856000,556.398500,0.000000,674.900333,22.578500,697.037667,1108.975000,29.534333,140.668000,716.740333,0.0,9344.427333,158.730000,0.808667,22.757333,2.246500,0.0,484.700333,18.544500,0.000000,0.00,0.000,1261.247833,42.612000,62.054500,3.784167,0.0,21038.828833,804.085000,0.408667,289.924333,12.650000,0.0,3960.906800,228.893000,0.000000,767.970400,0.0,0.0,89.412667,0.000000,0.0000,0.0,0.000000,0.0,358.957000,15.811000,3.669000,630.217667,832.030333,0.0,0.0,23.124000,1210.803250,896.627400,25.574667,0.000000,0.0,146.552750,1306.688400,0.418167,1933.062167,0.000000,0.0,127.531833,441.289333,0.000000,0.000,322.977000,4.445500,2235.728667,143.848250,12304.137333,346.466000,650.303500,0.856000,10.751333,NaN,8.290833,0.580500,1080.738667,0.0,621.653,2127.353800,33.246333,9464.413833,0.0,0.000000,1.915500,5680.5625,33.761333,0.0,3.116500,9.828167,236.222833,268.197167,21.684167,0.000000,0.367167,643.713167,697.015500,3.860000,7.895500,1139.333167,1074.541750,0.422333,0.000000,88.941000,21.954833,0.036667,385.654000,0.000000,1.267000,1403.640667,291.234600,249.610000,157.348000,1018.516333,69.199667,691.031333,0.0,6.149167,7.552,0.600000,19.218,0.0,0.834667,313.208600,827.703333,4924.347667,11.201833,0.419667,0.049167,862.816833,0.0,178.161500,155.646500,1954.804500,0.000000,0.570500,184.325333,0.000,393.437000,0.000000,766.759200,302.539000,27.080000,55.765833,63.010000,327.256833,208.909,167.205333,3.545000,0.000000,185.259000,47.256000,1614.2735,137.874667,71.196000,3383.793000,0.000000,4.921167,0.000000,969.141333,0.000000,0.000000,846.694167,156.877833,2422.113333,0.0,0.094667,19.871333,578.727833,6346.750500,0.000000,191.061000,1.778667,0.170500,0.000000,710.138500,550.885500,0.180667,7147.142333,0.0,1.409667,203.383500,5.218833,0.546167,1650.026000,212.927000,7.661333,0.000000,0.000000,0.0,5.728333,100.616833,58.114500,956.921250,1313.826500,148.443500,1650.405,11.147000,1.530000,0.0,5.812500,4.700167,172.473333,0.0,66.081600,0.000000

In [333]:
inz = week.unstack(level=0)
inzidenz = pd.DataFrame(inz)
inzidenz.reset_index(inplace=True)
inzidenz.rename(columns={'level_0':'Entity', 0:'data'}, inplace=True)
inzidenz

         Entity       date       data
0         World 2020-01-26        NaN
1         World 2020-02-02   0.982143
2         World 2020-02-09   2.727429
3         World 2020-02-16   3.340429
4         World 2020-02-23   2.406429
...         ...        ...        ...
36031  Zimbabwe 2022-12-18   1.680571
36032  Zimbabwe 2022-12-25  32.824286
36033  Zimbabwe 2023-01-01   5.470714
36034  Zimbabwe 2023-01-08   0.000000
36035  Zimbabwe 2023-01-15   0.000000

[36036 rows x 3 columns]

### Daten in kleinen Mengen speichern

#### Bevölkerungszahlen

In [334]:
einwohner = pd.read_csv('locations.csv')
einwohner

,Country/Region,location,continent,population_year,population
0,Afghanistan,Afghanistan,Asia,2022.0,41128772.0
1,Albania,Albania,Europe,2022.0,2842318.0
2,Algeria,Algeria,Africa,2022.0,44903228.0
3,Andorra,Andorra,Europe,2022.0,79843.0
4,Angola,Angola,Africa,2022.0,35588996.0
...,...,...,...,...,...
214,Vietnam,Vietnam,Asia,2022.0,98186856.0
215,Wallis and Futuna,Wallis and Futuna,Oceania,2022.0,11596.0
216,Yemen,Yemen,Asia,2022.0,33696612.0
217,Zambia,Zambia,Africa,2022.0,20017670.0
218,Zimbabwe,Zimbabwe,Africa,2022.0,16320539.0

#### Gdp Daten vorbereiten

In [46]:
# Quelle https://data.worldbank.org/indicator/NY.GDP.PCAP.CD?view=chart
gdp_raw = pd.read_csv('API_NY/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_4770417.csv', delimiter= ',')

FileNotFoundError: [Errno 2] No such file or directory: 'API_NY/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_4770417.csv'

In [336]:
# GDP per Capita für 2020,2021
gdp_20_21 = gdp_raw[['Country Name', 'Country Code','2020','2021']]
gdp_20_21

                    Country Name Country Code          2020          2021
0                          Aruba          ABW  24487.863560  29342.100858
1    Africa Eastern and Southern          AFE   1353.769160   1537.336021
2                    Afghanistan          AFG    516.866552    368.754614
3     Africa Western and Central          AFW   1683.436391   1757.030626
4                         Angola          AGO   1603.993477   1953.533757
..                           ...          ...           ...           ...
261                       Kosovo          XKX   4310.811183   5269.783901
262                  Yemen, Rep.          YEM           NaN           NaN
263                 South Africa          ZAF   5741.643129   7055.044776
264                       Zambia          ZMB    956.831364   1137.343633
265                     Zimbabwe          ZWE   1372.696674   1773.920411

[266 rows x 4 columns]

In [337]:
# Null Values bereinigen
# gdp[gdp.gdp.isnull()]
gdp_20_21=gdp_20_21.dropna(axis=0, how='any')
gdp_20_21

                    Country Name Country Code          2020          2021
0                          Aruba          ABW  24487.863560  29342.100858
1    Africa Eastern and Southern          AFE   1353.769160   1537.336021
2                    Afghanistan          AFG    516.866552    368.754614
3     Africa Western and Central          AFW   1683.436391   1757.030626
4                         Angola          AGO   1603.993477   1953.533757
..                           ...          ...           ...           ...
260                        Samoa          WSM   4042.751224   3857.318464
261                       Kosovo          XKX   4310.811183   5269.783901
263                 South Africa          ZAF   5741.643129   7055.044776
264                       Zambia          ZMB    956.831364   1137.343633
265                     Zimbabwe          ZWE   1372.696674   1773.920411

[245 rows x 4 columns]

Kosten für die primäre Gesunheitsversorgung per capita USD

In [395]:
phc_expenditure=pd.read_excel('PHC per capita in usd.xlsx')
phc_expenditure

ValueError: Excel file format cannot be determined, you must specify an engine manually.

### Übersterblichkeit Data-Set

In [3]:
# Data Quelle https://github.com/owid/covid-19-data/tree/master/public/data/excess_mortality
mort_raw = pd.read_csv('excess_mortality.csv')
mort_raw

,location,date,p_scores_all_ages,p_scores_15_64,p_scores_65_74,p_scores_75_84,p_scores_85plus,deaths_2020_all_ages,average_deaths_2015_2019_all_ages,deaths_2015_all_ages,...,p_proj_all_ages,p_proj_0_14,p_proj_15_64,p_proj_65_74,p_proj_75_84,p_proj_85p,cum_excess_per_million_proj_all_ages,excess_per_million_proj_all_ages,deaths_2022_all_ages,deaths_2020_2022_all_ages
0,Albania,2020-01-31,-10.65,NaN,NaN,NaN,NaN,2187.0,2447.8,2490.0,...,-10.16,NaN,NaN,NaN,NaN,NaN,-86.971268,-86.971268,3294.0,2187.0
1,Albania,2020-02-29,2.17,NaN,NaN,NaN,NaN,2018.0,1975.2,2139.0,...,2.88,NaN,NaN,NaN,NaN,NaN,-67.128309,19.842959,2752.0,2018.0
2,Albania,2020-03-31,0.62,NaN,NaN,NaN,NaN,1993.0,1980.8,2051.0,...,1.31,NaN,NaN,NaN,NaN,NaN,-58.051210,9.077098,1892.0,1993.0
3,Albania,2020-04-30,3.23,NaN,NaN,NaN,NaN,1804.0,1747.6,1906.0,...,4.04,NaN,NaN,NaN,NaN,NaN,-33.423424,24.627786,1707.0,1804.0
4,Albania,2020-05-31,6.15,NaN,NaN,NaN,NaN,1803.0,1698.6,1709.0,...,7.00,NaN,NaN,NaN,NaN,NaN,8.091987,41.515411,1675.0,1803.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10742,Uzbekistan,2022-07-31,25.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.81,NaN,NaN,NaN,NaN,NaN,1256.495965,95.903135,NaN,17269.0
10743,Uzbekistan,2022-08-31,53.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.54,NaN,NaN,NaN,NaN,NaN,1438.486379,181.990414,NaN,18771.0
10744,Uzbekistan,2022-09-30,24.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.81,NaN,NaN,NaN,NaN,NaN,1508.242778,69.756398,NaN,13489.0
10745,Uzbekistan,2022-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10746,Uzbekistan,2022-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [368]:
print(mort_raw['time_unit'].unique())

['monthly' 'weekly']

In [425]:
mort_raw[mort_raw['location'] == 'Germany']

,location,date,p_scores_all_ages,p_scores_15_64,p_scores_65_74,p_scores_75_84,p_scores_85plus,deaths_2020_all_ages,average_deaths_2015_2019_all_ages,deaths_2015_all_ages,deaths_2016_all_ages,deaths_2017_all_ages,deaths_2018_all_ages,deaths_2019_all_ages,deaths_2010_all_ages,deaths_2011_all_ages,deaths_2012_all_ages,deaths_2013_all_ages,deaths_2014_all_ages,deaths_2021_all_ages,time,time_unit,p_scores_0_14,projected_deaths_2020_2022_all_ages,excess_proj_all_ages,cum_excess_proj_all_ages,cum_proj_deaths_all_ages,cum_p_proj_all_ages,p_proj_all_ages,p_proj_0_14,p_proj_15_64,p_proj_65_74,p_proj_75_84,p_proj_85p,cum_excess_per_million_proj_all_ages,excess_per_million_proj_all_ages,deaths_2022_all_ages,deaths_2020_2022_all_ages
3511,Germany,2020-01-05,-1.78,-2.62,-6.60,-1.36,0.11,18883.0,19225.2,18713.0,18467.0,20918.0,19342.0,18686.0,17560.0,18087.0,17762.0,18243.0,16785.0,24919.0,1,weekly,-10.01,19643.7,-760.7,-760.7,19643.7,-3.87,-3.87,-7.04,-0.51,-5.02,-5.64,-3.11,-9.124403,-9.124403,20750.0,18883.0
3512,Germany,2020-01-12,-0.71,-2.92,-2.23,-1.34,1.33,19408.0,19546.4,19283.0,18439.0,22070.0,18770.0,19170.0,17776.0,17495.0,17145.0,17933.0,17210.0,24532.0,2,weekly,-12.78,19964.9,-556.9,-1317.6,39608.6,-3.33,-2.79,-9.91,-0.84,-0.60,-5.54,-1.88,-15.804276,-6.679874,19867.0,19408.0
3513,Germany,2020-01-19,-3.02,-0.79,-5.69,-3.59,-2.27,18953.0,19542.6,19500.0,18627.0,21236.0,19187.0,19163.0,17309.0,16652.0,17454.0,18251.0,16814.0,24129.0,3,weekly,-8.16,19961.1,-1008.1,-2325.7,59569.7,-3.90,-5.05,-4.97,1.38,-4.11,-7.66,-5.35,-27.896179,-12.091903,19797.0,18953.0
3514,Germany,2020-01-26,-4.73,-6.23,-1.38,-4.10,-5.82,18827.0,19762.4,19346.0,18707.0,22083.0,19171.0,19505.0,17455.0,16909.0,16919.0,18861.0,16825.0,22674.0,4,weekly,-24.37,20180.9,-1353.9,-3679.6,79750.6,-4.61,-6.71,-21.88,-4.19,0.27,-8.11,-8.74,-44.135865,-16.239686,20184.0,18827.0
3515,Germany,2020-02-02,-3.28,-3.50,-2.79,-1.52,-4.90,19774.0,20443.8,20716.0,18493.0,23640.0,19558.0,19812.0,17590.0,17681.0,17631.0,19980.0,17366.0,21773.0,5,weekly,2.61,20862.3,-1088.3,-4767.9,100612.9,-4.74,-5.22,5.94,-1.45,-1.23,-5.50,-7.76,-57.189746,-13.053881,20675.0,19774.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3659,Germany,2022-11-06,15.05,-1.75,23.51,3.58,28.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,weekly,-2.81,17801.4,1877.6,144541.9,2744780.1,5.27,10.55,2.09,2.19,27.44,-4.35,20.86,1733.743282,22.521334,NaN,19679.0
3660,Germany,2022-11-13,14.01,-1.07,19.63,5.38,25.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,weekly,-17.23,18225.4,1757.6,146299.5,2763005.5,5.29,9.64,-13.16,2.86,23.33,-2.55,18.07,1754.825246,21.081964,NaN,19983.0
3661,Germany,2022-11-20,14.72,0.08,16.86,7.23,26.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,weekly,-14.82,18274.8,1890.2,148189.7,2781280.3,5.33,10.34,-10.72,4.04,20.45,-0.80,19.02,1777.497714,22.672468,NaN,20165.0
3662,Germany,2022-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,weekly,NaN,18448.6,NaN,NaN,2799728.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663,Germany,2022-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,weekly,NaN,18596.8,NaN,NaN,2818325.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
mort_raw_selected = mort_raw[['location', 'date', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'deaths_2022_all_ages']]
mort_raw_selected

,location,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,deaths_2022_all_ages
0,Albania,2020-01-31,2447.8,2187.0,3002.0,3294.0
1,Albania,2020-02-29,1975.2,2018.0,3773.0,2752.0
2,Albania,2020-03-31,1980.8,1993.0,3447.0,1892.0
3,Albania,2020-04-30,1747.6,1804.0,2419.0,1707.0
4,Albania,2020-05-31,1698.6,1803.0,1874.0,1675.0
...,...,...,...,...,...,...
10742,Uzbekistan,2022-07-31,NaN,NaN,NaN,NaN
10743,Uzbekistan,2022-08-31,NaN,NaN,NaN,NaN
10744,Uzbekistan,2022-09-30,NaN,NaN,NaN,NaN
10745,Uzbekistan,2022-10-31,NaN,NaN,NaN,NaN
10746,Uzbekistan,2022-11-30,NaN,NaN,NaN,NaN

In [6]:
mort_raw_selected.date = pd.to_datetime(mort_raw_selected.date)

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/1069443877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_raw_selected.date = pd.to_datetime(mort_raw_selected.date)

In [373]:
mort_raw_selected.dtypes

location                                     object
date                                 datetime64[ns]
average_deaths_2015_2019_all_ages           float64
deaths_2020_all_ages                        float64
deaths_2021_all_ages                        float64
deaths_2022_all_ages                        float64
dtype: object

In [7]:
mort_raw_selected['day'] = mort_raw_selected['date'].dt.day
mort_raw_selected['month'] = mort_raw_selected['date'].dt.month
mort_raw_selected['year'] = mort_raw_selected['date'].dt.year

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/1999472265.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_raw_selected['day'] = mort_raw_selected['date'].dt.day
/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/1999472265.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_raw_selected['month'] = mort_raw_selected['date'].dt.month
/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/1999472265.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_raw_selected['year'] = mort_raw_selected['date'].dt.year

In [8]:
mort_raw_selected

,location,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,deaths_2022_all_ages,day,month,year
0,Albania,2020-01-31,2447.8,2187.0,3002.0,3294.0,31,1,2020
1,Albania,2020-02-29,1975.2,2018.0,3773.0,2752.0,29,2,2020
2,Albania,2020-03-31,1980.8,1993.0,3447.0,1892.0,31,3,2020
3,Albania,2020-04-30,1747.6,1804.0,2419.0,1707.0,30,4,2020
4,Albania,2020-05-31,1698.6,1803.0,1874.0,1675.0,31,5,2020
...,...,...,...,...,...,...,...,...,...
10742,Uzbekistan,2022-07-31,NaN,NaN,NaN,NaN,31,7,2022
10743,Uzbekistan,2022-08-31,NaN,NaN,NaN,NaN,31,8,2022
10744,Uzbekistan,2022-09-30,NaN,NaN,NaN,NaN,30,9,2022
10745,Uzbekistan,2022-10-31,NaN,NaN,NaN,NaN,31,10,2022
10746,Uzbekistan,2022-11-30,NaN,NaN,NaN,NaN,30,11,2022

In [9]:
mort_raw_selected.drop(['day','date'], axis=1, inplace=True)

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/2773094626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort_raw_selected.drop(['day','date'], axis=1, inplace=True)

In [10]:
mort_raw_selected

,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,deaths_2022_all_ages,month,year
0,Albania,2447.8,2187.0,3002.0,3294.0,1,2020
1,Albania,1975.2,2018.0,3773.0,2752.0,2,2020
2,Albania,1980.8,1993.0,3447.0,1892.0,3,2020
3,Albania,1747.6,1804.0,2419.0,1707.0,4,2020
4,Albania,1698.6,1803.0,1874.0,1675.0,5,2020
...,...,...,...,...,...,...,...
10742,Uzbekistan,NaN,NaN,NaN,NaN,7,2022
10743,Uzbekistan,NaN,NaN,NaN,NaN,8,2022
10744,Uzbekistan,NaN,NaN,NaN,NaN,9,2022
10745,Uzbekistan,NaN,NaN,NaN,NaN,10,2022
10746,Uzbekistan,NaN,NaN,NaN,NaN,11,2022

In [11]:
# Gruppierung nach 'month' und 'year' und 'land'
grouped_mort_raw_selected = mort_raw_selected.groupby(['month', 'year', 'location'])

In [12]:
# Berechnung der Summe der Spalte 'value_per_100000' für jede Gruppe
result_mort_raw = grouped_mort_raw_selected[['average_deaths_2015_2019_all_ages','deaths_2020_all_ages','deaths_2021_all_ages','deaths_2022_all_ages']].sum()

In [13]:
# Umwandeln der Series in einen Dataframe
result_mort_raw = result_mort_raw.reset_index()

In [14]:
result_mort_raw.sort_values(by=['location', 'year', 'month'] )
result_mort_raw.reset_index()

,index,month,year,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,deaths_2022_all_ages
0,0,1,2020,Albania,2447.80,2187.0,3002.0,3294.0
1,1,1,2020,Algeria,17096.35,17195.0,0.0,0.0
2,2,1,2020,Andorra,33.00,34.0,0.0,0.0
3,3,1,2020,Antigua and Barbuda,41.80,50.0,56.0,0.0
4,4,1,2020,Argentina,26538.40,25791.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4424,4424,12,2022,Spain,0.00,0.0,0.0,0.0
4425,4425,12,2022,Sweden,0.00,0.0,0.0,0.0
4426,4426,12,2022,Switzerland,0.00,0.0,0.0,0.0
4427,4427,12,2022,United Kingdom,0.00,0.0,0.0,0.0
4428,4428,12,2022,United States,0.00,0.0,0.0,0.0

### tests

In [69]:
test_sterb_raw = result_mort_raw[result_mort_raw['location'] == 'Germany'].sort_values(by=['year','month'])

In [65]:
test_sterb[(test_sterb['year']==2021)|(test_sterb['year']==2022)]

,month,year,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,deaths_2022_all_ages
168,1,2021,Germany,18346.0,25541.0,0.0,0.0
543,2,2021,Germany,0.0,0.0,0.0,0.0
918,3,2021,Germany,0.0,0.0,0.0,0.0
1293,4,2021,Germany,0.0,0.0,0.0,0.0
1668,5,2021,Germany,0.0,0.0,0.0,0.0
2043,6,2021,Germany,0.0,0.0,0.0,0.0
2418,7,2021,Germany,0.0,0.0,0.0,0.0
2793,8,2021,Germany,0.0,0.0,0.0,0.0
3168,9,2021,Germany,0.0,0.0,0.0,0.0
3543,10,2021,Germany,0.0,0.0,0.0,0.0
3918,11,2021,Germany,0.0,0.0,0.0,0.0
4293,12,2021,Germany,0.0,0.0,0.0,0.0
293,1,2022,Germany,0.0,0.0,0.0,0.0
668,2,2022,Germany,0.0,0.0,0.0,0.0
1043,3,2022,Germany,0.0,0.0,0.0,0.0
1418,4,2022,Germany,0.0,0.0,0.0,0.0
1793,5,2022,Germany,0.0,0.0,0.0,0.0
2168,6,2022,Germany,0.0,0.0,0.0,0.0
2543,7,2022,Germany,0.0,0.0,0.0,0.0
2918,8,2022,Germany,0.0,0.0,0.0,0.0
3293,9,2022,Germany,0.0,0.0,0.0,0.0
3668,10,2022,Germany,0.0,0.0,0.0,0.0
4043,11,2022,Germany,0.0,0.0,0.0,0.0
4392,12,2022,Germany,0.0,0.0,0.0,0.0

In [70]:
test_sterb = test_sterb_raw.drop(index=test_sterb_raw[(test_sterb_raw['year']==2021)|(test_sterb_raw['year']==2022)], inplace=True)
test_sterb

KeyError: "['month', 'year', 'location', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'deaths_2022_all_ages'] not found in axis"

In [67]:
mort_raw[mort_raw['time_unit'] == 'weekly']

,location,date,p_scores_all_ages,p_scores_15_64,p_scores_65_74,p_scores_75_84,p_scores_85plus,deaths_2020_all_ages,average_deaths_2015_2019_all_ages,deaths_2015_all_ages,deaths_2016_all_ages,deaths_2017_all_ages,deaths_2018_all_ages,deaths_2019_all_ages,deaths_2010_all_ages,deaths_2011_all_ages,deaths_2012_all_ages,deaths_2013_all_ages,deaths_2014_all_ages,deaths_2021_all_ages,time,time_unit,p_scores_0_14,projected_deaths_2020_2022_all_ages,excess_proj_all_ages,cum_excess_proj_all_ages,cum_proj_deaths_all_ages,cum_p_proj_all_ages,p_proj_all_ages,p_proj_0_14,p_proj_15_64,p_proj_65_74,p_proj_75_84,p_proj_85p,cum_excess_per_million_proj_all_ages,excess_per_million_proj_all_ages,deaths_2022_all_ages,deaths_2020_2022_all_ages
245,Australia,2020-01-05,1.65,1.74,-7.48,-1.15,7.50,2926.0,2878.6,2925.0,2789.0,2895.0,2818.0,2966.0,NaN,NaN,NaN,NaN,NaN,3029.0,1,weekly,-1.99,2971.4,-45.4,-45.4,2971.4,-1.53,-1.53,NaN,NaN,NaN,NaN,NaN,-1.734320,-1.734320,3321.0,2926.0
246,Australia,2020-01-12,1.02,-2.11,9.97,1.86,-1.18,2902.0,2872.8,2772.0,2870.0,2897.0,2828.0,2997.0,NaN,NaN,NaN,NaN,NaN,2950.0,2,weekly,-18.58,2965.6,-63.6,-109.0,5937.0,-1.84,-2.14,NaN,NaN,NaN,NaN,NaN,-4.163896,-2.429576,3733.0,2902.0
247,Australia,2020-01-19,2.57,-1.44,13.94,1.73,0.63,2914.0,2841.0,2770.0,2825.0,2806.0,2763.0,3041.0,NaN,NaN,NaN,NaN,NaN,3148.0,3,weekly,-8.17,2933.8,-19.8,-128.8,8870.8,-1.45,-0.67,NaN,NaN,NaN,NaN,NaN,-4.920273,-0.756377,3887.0,2914.0
248,Australia,2020-01-26,6.16,-2.41,-0.13,15.73,7.22,3007.0,2832.4,2768.0,2668.0,2887.0,2882.0,2957.0,NaN,NaN,NaN,NaN,NaN,2944.0,4,weekly,-14.61,2925.2,81.8,-47.0,11796.0,-0.40,2.80,NaN,NaN,NaN,NaN,NaN,-1.795441,3.124832,3780.0,3007.0
249,Australia,2020-02-02,3.81,-1.77,1.86,4.13,7.02,2910.0,2803.2,2680.0,2817.0,2744.0,2885.0,2890.0,NaN,NaN,NaN,NaN,NaN,3068.0,5,weekly,0.47,2896.2,13.8,-33.2,14692.2,-0.23,0.48,NaN,NaN,NaN,NaN,NaN,-1.268269,0.527172,3738.0,2910.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10672,United States,2022-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,weekly,NaN,56810.9,NaN,NaN,8429267.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10673,United States,2022-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,weekly,NaN,57090.9,NaN,NaN,8486358.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10674,United States,2022-11-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,weekly,NaN,57867.1,NaN,NaN,8544225.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10675,United States,2022-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,weekly,NaN,57890.7,NaN,NaN,8602116.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10676,United States,2022-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,weekly,NaN,58333.7,NaN,NaN,8660450.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [354]:
mort_raw = mort_raw[['location', 'date', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'deaths_2022_all_ages',  'time']]
mort_raw[mort_raw['location']=='Germany'].head(30)

,location,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,deaths_2022_all_ages,time
3511,Germany,2020-01-05,19225.2,18883.0,24919.0,20750.0,1
3512,Germany,2020-01-12,19546.4,19408.0,24532.0,19867.0,2
3513,Germany,2020-01-19,19542.6,18953.0,24129.0,19797.0,3
3514,Germany,2020-01-26,19762.4,18827.0,22674.0,20184.0,4
3515,Germany,2020-02-02,20443.8,19774.0,21773.0,20675.0,5
3516,Germany,2020-02-09,20451.4,19038.0,20946.0,20457.0,6
3517,Germany,2020-02-16,20993.0,19648.0,20493.0,21169.0,7
3518,Germany,2020-02-23,21448.4,18953.0,18979.0,20386.0,8
3519,Germany,2020-03-01,21955.8,19505.0,18455.0,20749.0,9
3520,Germany,2020-03-08,21444.4,19667.0,18606.0,21199.0,10
3521,Germany,2020-03-15,20517.2,19849.0,18374.0,21329.0,11
3522,Germany,2020-03-22,19653.6,19722.0,18437.0,21177.0,12
3523,Germany,2020-03-29,18984.4,19678.0,18520.0,20852.0,13
3524,Germany,2020-04-05,18529.8,20662.0,18873.0,20894.0,14
3525,Germany,2020-04-12,17943.8,20502.0,19098.0,20228.0,15
3526,Germany,2020-04-19,17521.8,19261.0,19282.0,19554.0,16
3527,Germany,2020-04-26,17468.4,18557.0,19555.0,19343.0,17
3528,Germany,2020-05-03,17004.6,17920.0,19329.0,19188.0,18
3529,Germany,2020-05-10,17277.6,17651.0,18579.0,19213.0,19
3530,Germany,2020-05-17,16843.0,17001.0,17811.0,18512.0,20
3531,Germany,2020-05-24,16532.0,17163.0,17193.0,17166.0,21
3532,Germany,2020-05-31,16681.6,16776.0,18191.0,18045.0,22
3533,Germany,2020-06-07,16525.4,17262.0,17442.0,17922.0,23
3534,Germany,2020-06-14,16028.4,16601.0,19076.0,18408.0,24
3535,Germany,2020-06-21,16366.0,16401.0,17191.0,18982.0,25
3536,Germany,2020-06-28,16482.8,17293.0,17013.0,18491.0,26
3537,Germany,2020-07-05,17015.8,16457.0,16994.0,18106.0,27
3538,Germany,2020-07-12,16305.0,16142.0,17662.0,18910.0,28
3539,Germany,2020-07-19,16715.8,16537.0,17613.0,20889.0,29
3540,Germany,2020-07-26,17291.4,16887.0,17211.0,20206.0,30

In [340]:
mort_raw.date = pd.to_datetime(mort_raw.date)
mort_raw.dtypes

location                                     object
date                                 datetime64[ns]
average_deaths_2015_2019_all_ages           float64
deaths_2020_all_ages                        float64
deaths_2021_all_ages                        float64
time                                          int64
dtype: object

In [341]:
mort_raw = mort_raw.groupby(by = mort_raw.date.dt.year)['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()
mort_raw

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/2005062154.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mort_raw = mort_raw.groupby(by = mort_raw.date.dt.year)['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()

,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages
date,,,
2020,20869307.51,24054364.9,25187888.5
2021,237582.41,333241.8,0.0
2022,0.00,0.0,0.0

In [ ]:
de_ueber['differnez_2020'] = de_ueber.deaths_2020_all_ages - de_ueber.average_deaths_2015_2019_all_ages
de_ueber['differnez_2021'] = de_ueber.deaths_2021_all_ages - de_ueber.average_deaths_2015_2019_all_ages
de_ueber

,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,differnez_2020,differnez_2021
0,929645.0,975907.0,1019039.0,46262.0,89394.0

In [381]:
mort_raw['date'] = pd.to_datetime(mort_raw['date'])

In [ ]:
mort = mort_raw[['location', 'date', 'average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages', 'time']]
mort

,location,date,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,time
0,Albania,2020-01-31,2447.8,2187.0,3002.0,1
1,Albania,2020-02-29,1975.2,2018.0,3773.0,2
2,Albania,2020-03-31,1980.8,1993.0,3447.0,3
3,Albania,2020-04-30,1747.6,1804.0,2419.0,4
4,Albania,2020-05-31,1698.6,1803.0,1874.0,5
...,...,...,...,...,...,...
10742,Uzbekistan,2022-07-31,NaN,NaN,NaN,7
10743,Uzbekistan,2022-08-31,NaN,NaN,NaN,8
10744,Uzbekistan,2022-09-30,NaN,NaN,NaN,9
10745,Uzbekistan,2022-10-31,NaN,NaN,NaN,10
10746,Uzbekistan,2022-11-30,NaN,NaN,NaN,11

In [ ]:
mort.date = pd.to_datetime(mort.date)
mort.dtypes

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/1824793021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mort.date = pd.to_datetime(mort.date)

location                                     object
date                                 datetime64[ns]
average_deaths_2015_2019_all_ages           float64
deaths_2020_all_ages                        float64
deaths_2021_all_ages                        float64
time                                          int64
dtype: object

In [359]:
mort_month = mort.groupby(by = [pd.Grouper(key='date', freq='M'), mort.location])['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()
mort_month

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/3426669793.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mort_month = mort.groupby(by = [pd.Grouper(key='date', freq='M'), mort.location])['average_deaths_2015_2019_all_ages', 'deaths_2020_all_ages', 'deaths_2021_all_ages'].sum()

                                average_deaths_2015_2019_all_ages  \
date       location
2020-01-31 Albania                                        2447.80
           Algeria                                       17096.35
           Andorra                                          33.00
           Antigua and Barbuda                              41.80
           Argentina                                     26538.40
...                                                           ...
2022-12-31 Spain                                             0.00
           Sweden                                            0.00
           Switzerland                                       0.00
           United Kingdom                                    0.00
           United States                                     0.00

                                deaths_2020_all_ages  deaths_2021_all_ages
date       location
2020-01-31 Albania                            2187.0                3002.0
           Algeria                           17195.0                   0.0
           Andorra                              34.0                   0.0
           Antigua and Barbuda                  50.0                  56.0
           Argentina                         25791.0                   0.0
...                                              ...                   ...
2022-12-31 Spain                                 0.0                   0.0
           Sweden                                0.0                   0.0
           Switzerland                           0.0                   0.0
           United Kingdom                        0.0                   0.0
           United States                         0.0                   0.0

[4429 rows x 3 columns]

In [360]:
mort_month.reset_index(inplace=True)
mort_month

,date,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages
0,2020-01-31,Albania,2447.80,2187.0,3002.0
1,2020-01-31,Algeria,17096.35,17195.0,0.0
2,2020-01-31,Andorra,33.00,34.0,0.0
3,2020-01-31,Antigua and Barbuda,41.80,50.0,56.0
4,2020-01-31,Argentina,26538.40,25791.0,0.0
...,...,...,...,...,...
4424,2022-12-31,Spain,0.00,0.0,0.0
4425,2022-12-31,Sweden,0.00,0.0,0.0
4426,2022-12-31,Switzerland,0.00,0.0,0.0
4427,2022-12-31,United Kingdom,0.00,0.0,0.0
4428,2022-12-31,United States,0.00,0.0,0.0

In [402]:
mort_month['month'] = mort_month['date'].dt.month
mort_month['year'] = mort_month['date'].dt.year

In [404]:
mort_month.drop('date', axis=1, inplace=True)

In [406]:
mort_month[mort_month['location']=='Germany']

,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,month,year
43,Germany,78076.6,76071.0,96254.0,1,2020
168,Germany,83336.6,77413.0,82191.0,2,2020
293,Germany,102555.4,98421.0,92392.0,3,2020
418,Germany,71463.8,78982.0,76808.0,4,2020
543,Germany,84338.8,86511.0,91103.0,5,2020
668,Germany,65402.6,67557.0,70722.0,6,2020
793,Germany,67328.0,66023.0,69480.0,7,2020
918,Germany,82575.0,88838.0,86574.0,8,2020
1043,Germany,64867.2,68945.0,73222.0,9,2020
1168,Germany,68214.0,71457.0,77306.0,10,2020
1293,Germany,87860.0,98804.0,111299.0,11,2020
1418,Germany,73627.0,96885.0,91688.0,12,2020
1543,Germany,18346.0,25541.0,0.0,1,2021
1668,Germany,0.0,0.0,0.0,2,2021
1793,Germany,0.0,0.0,0.0,3,2021
1918,Germany,0.0,0.0,0.0,4,2021
2043,Germany,0.0,0.0,0.0,5,2021
2168,Germany,0.0,0.0,0.0,6,2021
2293,Germany,0.0,0.0,0.0,7,2021
2418,Germany,0.0,0.0,0.0,8,2021
2543,Germany,0.0,0.0,0.0,9,2021
2668,Germany,0.0,0.0,0.0,10,2021
2793,Germany,0.0,0.0,0.0,11,2021
2918,Germany,0.0,0.0,0.0,12,2021
3043,Germany,0.0,0.0,0.0,1,2022
3168,Germany,0.0,0.0,0.0,2,2022
3293,Germany,0.0,0.0,0.0,3,2022
3418,Germany,0.0,0.0,0.0,4,2022
3543,Germany,0.0,0.0,0.0,5,2022
3668,Germany,0.0,0.0,0.0,6,2022
3793,Germany,0.0,0.0,0.0,7,2022
3918,Germany,0.0,0.0,0.0,8,2022
4043,Germany,0.0,0.0,0.0,9,2022
4168,Germany,0.0,0.0,0.0,10,2022
4293,Germany,0.0,0.0,0.0,11,2022
4392,Germany,0.0,0.0,0.0,12,2022

In [ ]:
inzidenz[(inzidenz['Entity']=='Albania')& (inzidenz['data'].notnull())]

      Entity       date       data
475  Albania 2020-03-15  14.073000
476  Albania 2020-03-22  15.279286
477  Albania 2020-03-29  34.077000
478  Albania 2020-04-05  43.123571
479  Albania 2020-04-12  43.425286
..       ...        ...        ...
619  Albania 2022-12-18  42.772000
620  Albania 2022-12-25  38.097571
621  Albania 2023-01-01  24.778571
622  Albania 2023-01-08  28.397286
623  Albania 2023-01-15  53.242833

[149 rows x 3 columns]

#### Die Übersterblichkeiten mit Inzidenzen joinen

In [ ]:
mort_inz = pd.merge(left=mort_month, right=inzidenz, left_on=['location', 'date'], right_on=['Entity', 'date'], how='left')
mort_inz

,date,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,Entity,data
0,2020-01-31,Albania,2447.80,2187.0,3002.0,NaN,NaN
1,2020-01-31,Algeria,17096.35,17195.0,0.0,NaN,NaN
2,2020-01-31,Andorra,33.00,34.0,0.0,NaN,NaN
3,2020-01-31,Antigua and Barbuda,41.80,50.0,56.0,NaN,NaN
4,2020-01-31,Argentina,26538.40,25791.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
4424,2022-12-31,Spain,0.00,0.0,0.0,NaN,NaN
4425,2022-12-31,Sweden,0.00,0.0,0.0,NaN,NaN
4426,2022-12-31,Switzerland,0.00,0.0,0.0,NaN,NaN
4427,2022-12-31,United Kingdom,0.00,0.0,0.0,NaN,NaN
4428,2022-12-31,United States,0.00,0.0,0.0,NaN,NaN

In [ ]:
mort_inz[(mort_inz['Entity'].notnull())&(mort_inz['location']=='Albania')]

,date,location,average_deaths_2015_2019_all_ages,deaths_2020_all_ages,deaths_2021_all_ages,Entity,data
500,2020-05-31,Albania,1698.6,1803.0,1874.0,Albania,36.137429
1500,2021-01-31,Albania,0.0,0.0,0.0,Albania,1918.856286
1625,2021-02-28,Albania,0.0,0.0,0.0,Albania,2591.446286
2625,2021-10-31,Albania,0.0,0.0,0.0,Albania,1316.681857
3750,2022-07-31,Albania,0.0,0.0,0.0,Albania,2751.074571

In [ ]:
# Welche Länder sind nicht vorhanden
mort_location = pd.DataFrame(mort_month['location'].unique()).rename(columns={0:'land'}).add_suffix('_right')

inz_location = pd.DataFrame(inzidenz['Entity'].unique()).rename(columns={0:'land'}).add_suffix('_left')

location_check_inzidenz = pd.merge(right=mort_location, left=inz_location, how='left', left_on='land_left', right_on='land_right')
location_check_inzidenz

             land_left land_right
0                World        NaN
1          Afghanistan        NaN
2               Africa        NaN
3              Albania    Albania
4              Algeria    Algeria
..                 ...        ...
226            Vietnam        NaN
227  Wallis and Futuna        NaN
228              Yemen        NaN
229             Zambia        NaN
230           Zimbabwe        NaN

[231 rows x 2 columns]

In [ ]:
l = location_check_inzidenz[location_check_inzidenz['land_right'].isnull()]
l.apply(lambda row: print(row['land_left']), axis=1)

World
Afghanistan
Africa
Angola
Anguilla
Asia
Bahrain
Bangladesh
Benin
Bhutan
Bonaire Sint Eustatius and Saba
Botswana
British Virgin Islands
Burkina Faso
Burundi
Cambodia
Cameroon
Cayman Islands
Central African Republic
Chad
China
Comoros
Congo
Cook Islands
Cote d'Ivoire
Curacao
Democratic Republic of Congo
Djibouti
Dominica
Equatorial Guinea
Eritrea
Eswatini
Ethiopia
Europe
European Union
Falkland Islands
Fiji
Gabon
Gambia
Ghana
Grenada
Guinea
Guinea-Bissau
Guyana
Haiti
High income
Honduras
India
Indonesia
International
Iraq
Isle of Man
Kenya
Kiribati
Laos
Lesotho
Liberia
Libya
Low income
Lower middle income
Madagascar
Malawi
Mali
Marshall Islands
Mauritania
Micronesia (country)
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Niger
Nigeria
North America
North Korea
Oceania
Pakistan
Palau
Papua New Guinea
Rwanda
Saint Helena
Saint Lucia
Saint Pierre and Miquelon
Samoa
Sao Tome and Principe
Saudi Arabia
Senegal
Sierra Leone
Solomon Islands
Somalia
South America
South Sudan
Sri Lanka
Sudan
Syria
Tanzania
Timor
Togo
Tonga
Trinidad and Tobago
Turkey
Turks and Caicos Islands
Tuvalu
Uganda
United Arab Emirates
Upper middle income
Vanuatu
Vatican
Venezuela
Vietnam
Wallis and Futuna
Yemen
Zambia
Zimbabwe

0      None
1      None
2      None
6      None
7      None
       ...
226    None
227    None
228    None
229    None
230    None
Length: 116, dtype: object

In [ ]:
mort_location = pd.DataFrame(mort_month['location'].unique()).rename(columns={0:'land'}).add_suffix('_mort')

inz_location = pd.DataFrame(inzidenz['Entity'].unique()).rename(columns={0:'land'}).add_suffix('_inz')

location_check_mort = pd.merge(left=mort_location, right=inz_location, how='left', left_on='land_mort', right_on='land_inz')
location_check_mort

               land_mort             land_inz
0                Albania              Albania
1                Algeria              Algeria
2                Andorra              Andorra
3    Antigua and Barbuda  Antigua and Barbuda
4              Argentina            Argentina
..                   ...                  ...
120              Ukraine              Ukraine
121       United Kingdom       United Kingdom
122        United States        United States
123              Uruguay              Uruguay
124           Uzbekistan           Uzbekistan

[125 rows x 2 columns]

#### Maßnahmen

In [ ]:
mass = pd.read_csv('government_response')
mass.Entity.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faeroe Islands', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Guinea',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Mali',
       'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

#### Vaccination

In [26]:
vax = pd.read_csv('vaccinations.csv')

In [27]:
vax

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148100,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,NaN,2076.0,74.87,39.44,29.11,6.33,127.0,638.0,0.004
148101,Zimbabwe,ZWE,2022-10-06,NaN,NaN,NaN,NaN,NaN,1714.0,NaN,NaN,NaN,NaN,105.0,563.0,0.003
148102,Zimbabwe,ZWE,2022-10-07,NaN,NaN,NaN,NaN,NaN,1529.0,NaN,NaN,NaN,NaN,94.0,462.0,0.003
148103,Zimbabwe,ZWE,2022-10-08,NaN,NaN,NaN,NaN,NaN,1344.0,NaN,NaN,NaN,NaN,82.0,361.0,0.002
148104,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,NaN,1126.0,74.89,39.45,29.11,6.33,69.0,332.0,0.002

In [28]:
vax.date = pd.to_datetime(vax.date)

In [29]:
vax.fillna(0)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.000
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,0.00,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,0.0,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,0.00,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,0.0,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,0.00,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,0.0,0.0,0.0,0.0,0.0,1367.0,0.00,0.00,0.00,0.00,33.0,1367.0,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148100,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,0.0,2076.0,74.87,39.44,29.11,6.33,127.0,638.0,0.004
148101,Zimbabwe,ZWE,2022-10-06,0.0,0.0,0.0,0.0,0.0,1714.0,0.00,0.00,0.00,0.00,105.0,563.0,0.003
148102,Zimbabwe,ZWE,2022-10-07,0.0,0.0,0.0,0.0,0.0,1529.0,0.00,0.00,0.00,0.00,94.0,462.0,0.003
148103,Zimbabwe,ZWE,2022-10-08,0.0,0.0,0.0,0.0,0.0,1344.0,0.00,0.00,0.00,0.00,82.0,361.0,0.002
148104,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,0.0,1126.0,74.89,39.45,29.11,6.33,69.0,332.0,0.002

In [30]:
vax_test = vax.fillna(0).describe()
vax_test

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
count,1.481050e+05,1.481050e+05,1.481050e+05,1.481050e+05,1.481050e+05,1.481050e+05,148105.000000,148105.000000,148105.000000,148105.000000,148105.000000,1.481050e+05,148105.000000
mean,1.490858e+08,6.432561e+07,5.430757e+07,1.862499e+07,3.457203e+05,3.624715e+05,50.996413,22.114417,19.037748,7.599095,2340.116883,1.343695e+05,0.095203
std,8.805585e+08,3.896594e+08,3.440417e+08,1.423417e+08,2.232320e+06,2.196792e+06,77.690991,31.633021,29.215703,18.981950,3408.820381,8.937792e+05,0.195938
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.960000e+02,0.000000,0.000000,0.000000,0.000000,260.000000,9.700000e+01,0.005000
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e+03,0.000000,0.000000,0.000000,0.000000,1078.000000,1.437000e+03,0.027000
75%,7.995825e+06,3.844371e+06,2.496426e+06,5.300000e+01,1.035600e+04,4.239500e+04,96.440000,49.880000,38.580000,0.000000,3171.000000,1.418600e+04,0.107000
max,1.317537e+10,5.511964e+09,5.058453e+09,2.681355e+09,4.967793e+07,4.369086e+07,406.430000,129.070000,126.890000,150.470000,117113.000000,2.107135e+07,11.711000

In [33]:
vax['year'] = vax['date'].dt.year
vax['month'] = vax['date'].dt.month
vax['week_of_year'] = vax['date'].dt.weekofyear

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/1164759379.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  vax['week_of_year'] = vax['date'].dt.weekofyear

In [71]:
vax_monat = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.month])['people_vaccinated','people_fully_vaccinated','total_boosters','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred'].sum()

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/3680421451.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  vax_monat = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.month])['people_vaccinated','people_fully_vaccinated','total_boosters','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred'].sum()

In [72]:
vax_monat

                       people_vaccinated  people_fully_vaccinated  \
location    date date
Afghanistan 2021 2                8200.0                      0.0
                 3               54000.0                      0.0
                 4              360000.0                      0.0
                 5             2834758.0                 574841.0
                 6             3861941.0                1186390.0
...                                  ...                      ...
Zimbabwe    2022 6           156852808.0              114168942.0
                 7           165009462.0              121099327.0
                 8           134218032.0               98854685.0
                 9            51400663.0               37909453.0
                 10           32180971.0               23745809.0

                       total_boosters  people_vaccinated_per_hundred  \
location    date date
Afghanistan 2021 2                0.0                           0.02
                 3                0.0                           0.13
                 4                0.0                           0.87
                 5                0.0                           6.90
                 6                0.0                           9.39
...                               ...                            ...
Zimbabwe    2022 6         21735350.0                         961.09
                 7         24162841.0                        1011.05
                 8         20451729.0                         822.38
                 9          8173922.0                         314.95
                 10         5160046.0                         197.18

                       people_fully_vaccinated_per_hundred  \
location    date date
Afghanistan 2021 2                                    0.00
                 3                                    0.00
                 4                                    0.00
                 5                                    1.41
                 6                                    2.88
...                                                    ...
Zimbabwe    2022 6                                  699.54
                 7                                  741.99
                 8                                  605.70
                 9                                  232.27
                 10                                 145.50

                       total_boosters_per_hundred
location    date date
Afghanistan 2021 2                           0.00
                 3                           0.00
                 4                           0.00
                 5                           0.00
                 6                           0.00
...                                           ...
Zimbabwe    2022 6                         133.20
                 7                         148.06
                 8                         125.30
                 9                          50.09
                 10                         31.61

[5101 rows x 6 columns]

In [48]:
vax_week = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.weekofyear])['people_vaccinated','people_fully_vaccinated','total_boosters','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred'].sum()

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/3173355530.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  vax_week = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.weekofyear]).sum()
/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/3173355530.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  vax_week = vax.fillna(0).groupby(by=[vax['location'],vax['date'].dt.year,vax['date'].dt.weekofyear]).sum()

In [73]:
vax_week

                       total_vaccinations  people_vaccinated  \
location    date date
Afghanistan 2021 8                 8200.0             8200.0
                 9                    0.0                0.0
                 10                   0.0                0.0
                 11               54000.0            54000.0
                 12                   0.0                0.0
...                                   ...                ...
Zimbabwe    2022 37                   0.0                0.0
                 38            48721579.0         25693521.0
                 39            61028325.0         32161017.0
                 40            36659362.0         19310482.0
                 52            14565025.0          8263368.0

                       people_fully_vaccinated  total_boosters  \
location    date date
Afghanistan 2021 8                         0.0             0.0
                 9                         0.0             0.0
                 10                        0.0             0.0
                 11                        0.0             0.0
                 12                        0.0             0.0
...                                        ...             ...
Zimbabwe    2022 37                        0.0             0.0
                 38                 18947546.0       4080512.0
                 39                 23726899.0       5140409.0
                 40                 14250314.0       3098566.0
                 52                  6284359.0         17298.0

                       daily_vaccinations_raw  daily_vaccinations  \
location    date date
Afghanistan 2021 8                        0.0              8202.0
                 9                        0.0             15549.0
                 10                       0.0             20034.0
                 11                       0.0             20331.0
                 12                       0.0             20980.0
...                                       ...                 ...
Zimbabwe    2022 37                       0.0              5941.0
                 38                   15248.0              9292.0
                 39                   16434.0             29944.0
                 40                    1978.0             13904.0
                 52                   23995.0             20191.0

                       total_vaccinations_per_hundred  \
location    date date
Afghanistan 2021 8                               0.02
                 9                               0.00
                 10                              0.00
                 11                              0.13
                 12                              0.00
...                                               ...
Zimbabwe    2022 37                              0.00
                 38                            298.53
                 39                            373.92
                 40                            224.62
                 52                             89.24

                       people_vaccinated_per_hundred  \
location    date date
Afghanistan 2021 8                              0.02
                 9                              0.00
                 10                             0.00
                 11                             0.13
                 12                             0.00
...                                              ...
Zimbabwe    2022 37                             0.00
                 38                           157.43
                 39                           197.06
                 40                           118.32
                 52                            50.63

                       people_fully_vaccinated_per_hundred  \
location    date date
Afghanistan 2021 8                                    0.00
                 9                                    0.00
                 10                                   0.00
                 11                                   0.00
                 12                                   0.00
...                                                    ...
Zimbabwe    2022 37                                   0.00
                 38                                 116.09
                 39                                 145.38
                 40                                  87.32
                 52                                  38.50

                       total_boosters_per_hundred  \
location    date date
Afghanistan 2021 8                           0.00
                 9                           0.00
                 10                          0.00
                 11                          0.00
                 12                          0.00
...                                           ...
Zimbabwe    2022 37                          0.00
                 38                         25.00
                 39                         31.50
                 40                         18.98
                 52                          0.10

                       daily_vaccinations_per_million  \
location    date date
Afghanistan 2021 8                              198.0
                 9                              378.0
                 10                             490.0
                 11                             496.0
                 12                             510.0
...                                               ...
Zimbabwe    2022 37                             365.0
                 38                             570.0
                 39                            1834.0
                 40                             851.0
                 52                            1237.0

                       daily_people_vaccinated  \
location    date date
Afghanistan 2021 8                      8202.0
                 9                     15549.0
                 10                    20034.0
                 11                    20331.0
                 12                    20980.0
...                                        ...
Zimbabwe    2022 37                     2366.0
                 38                     3272.0
                 39                    10343.0
                 40                     4472.0
                 52                     8573.0

                       daily_people_vaccinated_per_hundred   year  month  \
location    date date
Afghanistan 2021 8                                   0.018  14147     14
                 9                                   0.037  14147     21
                 10                                  0.049  14147     21
                 11                                  0.049  14147     21
                 12                                  0.049  14147     21
...                                                    ...    ...    ...
Zimbabwe    2022 37                                  0.014  14154     63
                 38                                  0.020  14154     63
                 39                                  0.064  14154     65
                 40                                  0.027  14154     70
                 52                                  0.052   4044      2

                       week_of_year
location    date date
Afghanistan 2021 8               56
                 9               63
                 10              70
                 11              77
                 12              84
...                             ...
Zimbabwe    2022 37             259
                 38             266
                 39             273
                 40             280
                 52             104

[21597 rows x 16 columns]

### Mögliche Gruppierungen

In [ ]:
# Quelle https://datacatalog.worldbank.org/search/dataset/0037712/World-Development-Indicators
laender = pd.read_csv('WDI_csv/WDICountry.csv')
laender

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,National accounts base year,National accounts reference year,SNA price valuation,Lending category,Other groups,System of National Accounts,Alternative conversion factor,PPP survey year,Balance of Payments Manual in use,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,2013,NaN,Value added at basic prices (VAB),NaN,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,BPM6,NaN,General trade system,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,2016,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 1993 System of National Accou...,NaN,NaN,BPM6,Estimate,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,2002,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,NaN,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,2008.0,Value added at basic prices (VAB),IDA,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,NaN,NaN,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",NaN,2014,NaN,NaN,NaN
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,The World Bank systematically assesses the app...,Middle East & North Africa,Low income,RY,1990,NaN,Value added at basic prices (VAB),IDA,NaN,Country uses the 1993 System of National Accou...,NaN,NaN,BPM5 (Converted into BPM6 by IMF),Estimate,Special trade system,NaN,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",NaN,NaN,2012.0,2015.0,NaN
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,ZA,2015,NaN,Value added at basic prices (VAB),IBRD,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",NaN,2007,2010.0,2018.0,NaN
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,National accounts data were rebased to reflect...,Sub-Saharan Africa,Low income,ZM,2010,NaN,Value added at basic prices (VAB),IDA,HIPC,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",NaN,NaN,1994.0,2018.0,NaN
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,National Accounts data are reported in Zimbabw...,Sub-Saharan Africa,Lower middle income,ZW,2019,NaN,Value added at basic prices (VAB),Blend,NaN,Country uses the 2008 System of National Accou...,NaN,NaN,BPM6,Actual,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2018.0,NaN

In [ ]:
laender['Income Group'].unique()

array(['High income', nan, 'Low income', 'Lower middle income',
       'Upper middle income'], dtype=object)

### Bevölkerungsdichte

In [ ]:
dicht = pd.read_excel('bev_dichte.xlsx')
dicht

    Platz         Land          Fläche   Einwohner  Einwohner pro km²
0       1      Macau *          30 km²    0,69 Mio            22585.8
1       2       Monaco         2,0 km²    0,04 Mio            18161.4
2       3     Singapur         719 km²    5,45 Mio             7584.9
3       4   Hongkong *       1.110 km²    7,41 Mio             6678.5
4       5  Gibraltar *         6,8 km²    0,03 Mio             4804.3
..    ...          ...             ...         ...                ...
92     93     Russland  17.098.250 km²  143,45 Mio                8.4
93     94   Kasachstan   2.724.902 km²   19,00 Mio                7.0
94     95       Kanada   9.984.670 km²   38,25 Mio                3.8
95     96       Island     103.000 km²    0,37 Mio                3.6
96     97   Australien   7.741.220 km²   25,69 Mio                3.3

[97 rows x 5 columns]

### Krankenhausauslastung

In [52]:
#Einlesen der Daten für Krankenhausauslastung
hospitalizations_raw = pd.read_csv('covid-hospitalizations.csv')
hospitalizations_raw

,entity,iso_code,date,indicator,value
0,Algeria,DZA,2020-07-17,Daily ICU occupancy,62.000
1,Algeria,DZA,2020-07-17,Daily ICU occupancy per million,1.381
2,Algeria,DZA,2020-07-18,Daily ICU occupancy,67.000
3,Algeria,DZA,2020-07-18,Daily ICU occupancy per million,1.492
4,Algeria,DZA,2020-07-20,Daily ICU occupancy,64.000
...,...,...,...,...,...
197067,Wales,OWID_WLS,2023-01-10,Daily ICU occupancy per million,5.047
197068,Wales,OWID_WLS,2023-01-10,Daily hospital occupancy,604.000
197069,Wales,OWID_WLS,2023-01-10,Daily hospital occupancy per million,190.536
197070,Wales,OWID_WLS,2023-01-10,Weekly new hospital admissions,101.000
197071,Wales,OWID_WLS,2023-01-10,Weekly new hospital admissions per million,31.861

In [53]:
#Rename Columns
hospitalizations_raw.rename(columns={'entity':'country_name', 'date':'datum'}, inplace=True)
#Droppen Columns
hospitalizations_raw.drop(columns=["iso_code"], inplace=True)
hospitalizations_raw

,country_name,datum,indicator,value
0,Algeria,2020-07-17,Daily ICU occupancy,62.000
1,Algeria,2020-07-17,Daily ICU occupancy per million,1.381
2,Algeria,2020-07-18,Daily ICU occupancy,67.000
3,Algeria,2020-07-18,Daily ICU occupancy per million,1.492
4,Algeria,2020-07-20,Daily ICU occupancy,64.000
...,...,...,...,...
197067,Wales,2023-01-10,Daily ICU occupancy per million,5.047
197068,Wales,2023-01-10,Daily hospital occupancy,604.000
197069,Wales,2023-01-10,Daily hospital occupancy per million,190.536
197070,Wales,2023-01-10,Weekly new hospital admissions,101.000
197071,Wales,2023-01-10,Weekly new hospital admissions per million,31.861

In [54]:
# Auslesen der Unique Werte, um Aufteilung zu ermöglichen
hospitalizations_raw.indicator.unique()

array(['Daily ICU occupancy', 'Daily ICU occupancy per million',
       'Daily hospital occupancy', 'Daily hospital occupancy per million',
       'Weekly new hospital admissions',
       'Weekly new hospital admissions per million',
       'Weekly new ICU admissions',
       'Weekly new ICU admissions per million'], dtype=object)

In [55]:
#Aufteilen der Spalte "indicator" in 8 spalten
hospitalizations = pd.get_dummies(hospitalizations_raw, columns=['indicator'], prefix = ['indicator'])

In [56]:
hospitalizations

,country_name,datum,value,indicator_Daily ICU occupancy,indicator_Daily ICU occupancy per million,indicator_Daily hospital occupancy,indicator_Daily hospital occupancy per million,indicator_Weekly new ICU admissions,indicator_Weekly new ICU admissions per million,indicator_Weekly new hospital admissions,indicator_Weekly new hospital admissions per million
0,Algeria,2020-07-17,62.000,1,0,0,0,0,0,0,0
1,Algeria,2020-07-17,1.381,0,1,0,0,0,0,0,0
2,Algeria,2020-07-18,67.000,1,0,0,0,0,0,0,0
3,Algeria,2020-07-18,1.492,0,1,0,0,0,0,0,0
4,Algeria,2020-07-20,64.000,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
197067,Wales,2023-01-10,5.047,0,1,0,0,0,0,0,0
197068,Wales,2023-01-10,604.000,0,0,1,0,0,0,0,0
197069,Wales,2023-01-10,190.536,0,0,0,1,0,0,0,0
197070,Wales,2023-01-10,101.000,0,0,0,0,0,0,1,0
197071,Wales,2023-01-10,31.861,0,0,0,0,0,0,0,1

In [57]:
# Welche Spalten sollen übernommen werden für weitere Analyse
# Außerdem müssen werte weiter standardisiert werden, da die Bevölkerungsmaßeinheit hier bei 10000 liegt
# Behalten der Spalte "indicator_Daily ICU occupancy"
hospitalizations_daily_icu_occupancy = hospitalizations[hospitalizations["indicator_Daily ICU occupancy"] == 1]

In [58]:
hospitalizations_daily_icu_occupancy

,country_name,datum,value,indicator_Daily ICU occupancy,indicator_Daily ICU occupancy per million,indicator_Daily hospital occupancy,indicator_Daily hospital occupancy per million,indicator_Weekly new ICU admissions,indicator_Weekly new ICU admissions per million,indicator_Weekly new hospital admissions,indicator_Weekly new hospital admissions per million
0,Algeria,2020-07-17,62.0,1,0,0,0,0,0,0,0
2,Algeria,2020-07-18,67.0,1,0,0,0,0,0,0,0
4,Algeria,2020-07-20,64.0,1,0,0,0,0,0,0,0
6,Algeria,2020-07-21,56.0,1,0,0,0,0,0,0,0
8,Algeria,2020-07-22,51.0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
197042,Wales,2023-01-06,20.0,1,0,0,0,0,0,0,0
197048,Wales,2023-01-07,18.0,1,0,0,0,0,0,0,0
197054,Wales,2023-01-08,14.0,1,0,0,0,0,0,0,0
197060,Wales,2023-01-09,13.0,1,0,0,0,0,0,0,0
197066,Wales,2023-01-10,16.0,1,0,0,0,0,0,0,0

In [60]:
#Entfernen der nicht benötigten Spalten
hospitalizations_daily_icu_occupancy.drop(hospitalizations_daily_icu_occupancy.columns[3:], axis = 1, inplace=True)

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_30071/1923213751.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy.drop(hospitalizations_daily_icu_occupancy.columns[3:], axis = 1, inplace=True)

In [ ]:
hospitalizations_daily_icu_occupancy
hospitalizations_daily_icu_occupancy.value.unique()

array([  62.,   67.,   64., ..., 4929., 4973., 4961.])

In [ ]:
# Standardisierung der absoluten Werte im Verhältnis zu 100000
hospitalizations_daily_icu_occupancy["value_per_100000"] = hospitalizations_daily_icu_occupancy["value"].div(100000)

#Ausgeben und überprüfen
hospitalizations_daily_icu_occupancy

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/2874379713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy["value_per_100000"] = hospitalizations_daily_icu_occupancy["value"].div(100000)

       country_name       datum  value  value_per_100000
0           Algeria  2020-07-17   62.0           0.00062
2           Algeria  2020-07-18   67.0           0.00067
4           Algeria  2020-07-20   64.0           0.00064
6           Algeria  2020-07-21   56.0           0.00056
8           Algeria  2020-07-22   51.0           0.00051
...             ...         ...    ...               ...
197042        Wales  2023-01-06   20.0           0.00020
197048        Wales  2023-01-07   18.0           0.00018
197054        Wales  2023-01-08   14.0           0.00014
197060        Wales  2023-01-09   13.0           0.00013
197066        Wales  2023-01-10   16.0           0.00016

[33559 rows x 4 columns]

In [ ]:
hospitalizations_daily_icu_occupancy

       country_name       datum  value  value_per_100000
0           Algeria  2020-07-17   62.0           0.00062
2           Algeria  2020-07-18   67.0           0.00067
4           Algeria  2020-07-20   64.0           0.00064
6           Algeria  2020-07-21   56.0           0.00056
8           Algeria  2020-07-22   51.0           0.00051
...             ...         ...    ...               ...
197042        Wales  2023-01-06   20.0           0.00020
197048        Wales  2023-01-07   18.0           0.00018
197054        Wales  2023-01-08   14.0           0.00014
197060        Wales  2023-01-09   13.0           0.00013
197066        Wales  2023-01-10   16.0           0.00016

[33559 rows x 4 columns]

In [ ]:
hospitalizations_daily_icu_occupancy.datum = pd.to_datetime(hospitalizations_daily_icu_occupancy.datum)

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/2841950866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy.datum = pd.to_datetime(hospitalizations_daily_icu_occupancy.datum)

In [ ]:
hospitalizations_daily_icu_occupancy.dtypes

country_name                object
datum               datetime64[ns]
value                      float64
value_per_100000           float64
dtype: object

In [ ]:
hospitalizations_daily_icu_occupancy

       country_name      datum  value  value_per_100000
0           Algeria 2020-07-17   62.0           0.00062
2           Algeria 2020-07-18   67.0           0.00067
4           Algeria 2020-07-20   64.0           0.00064
6           Algeria 2020-07-21   56.0           0.00056
8           Algeria 2020-07-22   51.0           0.00051
...             ...        ...    ...               ...
197042        Wales 2023-01-06   20.0           0.00020
197048        Wales 2023-01-07   18.0           0.00018
197054        Wales 2023-01-08   14.0           0.00014
197060        Wales 2023-01-09   13.0           0.00013
197066        Wales 2023-01-10   16.0           0.00016

[33559 rows x 4 columns]

In [ ]:
hospitalizations_daily_icu_occupancy['day'] = hospitalizations_daily_icu_occupancy['datum'].dt.day
hospitalizations_daily_icu_occupancy['month'] = hospitalizations_daily_icu_occupancy['datum'].dt.month
hospitalizations_daily_icu_occupancy['year'] = hospitalizations_daily_icu_occupancy['datum'].dt.year

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/820093788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy['day'] = hospitalizations_daily_icu_occupancy['datum'].dt.day
/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/820093788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy['month'] = hospitalizations_daily_icu_occupancy['datum'].dt.month
/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/820093788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy['year'] = hospitalizations_daily_icu_occupancy['datum'].dt.year

In [ ]:
hospitalizations_daily_icu_occupancy

       country_name      datum  value  value_per_100000  day  month  year
0           Algeria 2020-07-17   62.0           0.00062   17      7  2020
2           Algeria 2020-07-18   67.0           0.00067   18      7  2020
4           Algeria 2020-07-20   64.0           0.00064   20      7  2020
6           Algeria 2020-07-21   56.0           0.00056   21      7  2020
8           Algeria 2020-07-22   51.0           0.00051   22      7  2020
...             ...        ...    ...               ...  ...    ...   ...
197042        Wales 2023-01-06   20.0           0.00020    6      1  2023
197048        Wales 2023-01-07   18.0           0.00018    7      1  2023
197054        Wales 2023-01-08   14.0           0.00014    8      1  2023
197060        Wales 2023-01-09   13.0           0.00013    9      1  2023
197066        Wales 2023-01-10   16.0           0.00016   10      1  2023

[33559 rows x 7 columns]

In [ ]:
hospitalizations_daily_icu_occupancy.drop('day', axis=1, inplace=True)

/var/folders/q6/rg_7lxjs1wx6080czdx8tpjm0000gn/T/ipykernel_17182/2582671751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitalizations_daily_icu_occupancy.drop('day', axis=1, inplace=True)

In [ ]:
hospitalizations_daily_icu_occupancy

       country_name      datum  value  value_per_100000  month  year
0           Algeria 2020-07-17   62.0           0.00062      7  2020
2           Algeria 2020-07-18   67.0           0.00067      7  2020
4           Algeria 2020-07-20   64.0           0.00064      7  2020
6           Algeria 2020-07-21   56.0           0.00056      7  2020
8           Algeria 2020-07-22   51.0           0.00051      7  2020
...             ...        ...    ...               ...    ...   ...
197042        Wales 2023-01-06   20.0           0.00020      1  2023
197048        Wales 2023-01-07   18.0           0.00018      1  2023
197054        Wales 2023-01-08   14.0           0.00014      1  2023
197060        Wales 2023-01-09   13.0           0.00013      1  2023
197066        Wales 2023-01-10   16.0           0.00016      1  2023

[33559 rows x 6 columns]

In [ ]:
# Gruppierung nach 'month' und 'year' und 'land'
grouped_hospitalizations_daily_icu_occupancy = hospitalizations_daily_icu_occupancy.groupby(['month', 'year', 'country_name'])

In [ ]:
# Berechnung der Summe der Spalte 'value_per_100000' für jede Gruppe
result_hospitalizations = grouped_hospitalizations_daily_icu_occupancy['value_per_100000'].sum()

In [ ]:
# Umwandeln der Series in einen Dataframe
result_hospitalizations = result_hospitalizations.reset_index()

In [ ]:
result_hospitalizations.sort_values(by=['country_name', 'year', 'month'] )
result_hospitalizations.reset_index()

      index  month  year   country_name  value_per_100000
0         0      1  2021        Algeria           0.00814
1         1      1  2021      Argentina           1.07281
2         2      1  2021      Australia           0.00012
3         3      1  2021        Austria           0.10634
4         4      1  2021        Belgium           0.11368
...     ...    ...   ...            ...               ...
1333   1333     12  2022    South Korea           0.15447
1334   1334     12  2022          Spain           0.07452
1335   1335     12  2022    Switzerland           0.01478
1336   1336     12  2022  United States           1.26918
1337   1337     12  2022          Wales           0.00346

[1338 rows x 5 columns]

In [ ]:
result_hospitalizations

      month  year   country_name  value_per_100000
0         1  2021        Algeria           0.00814
1         1  2021      Argentina           1.07281
2         1  2021      Australia           0.00012
3         1  2021        Austria           0.10634
4         1  2021        Belgium           0.11368
...     ...   ...            ...               ...
1333     12  2022    South Korea           0.15447
1334     12  2022          Spain           0.07452
1335     12  2022    Switzerland           0.01478
1336     12  2022  United States           1.26918
1337     12  2022          Wales           0.00346

[1338 rows x 4 columns]

In [ ]:
result_hospitalizations[result_hospitalizations['country_name'] == 'Germany'].sort_values(by=['year', 'month'] )

      month  year country_name  value_per_100000
208       3  2020      Germany           0.09275
321       4  2020      Germany           0.77924
434       5  2020      Germany           0.40228
548       6  2020      Germany           0.13600
662       7  2020      Germany           0.08365
777       8  2020      Germany           0.07328
892       9  2020      Germany           0.07801
1008     10  2020      Germany           0.26849
1124     11  2020      Germany           0.98502
1239     12  2020      Germany           1.48516
15        1  2021      Germany           1.56505
132       2  2021      Germany           0.97568
241       3  2021      Germany           0.93277
355       4  2021      Germany           1.40077
470       5  2021      Germany           1.21309
584       6  2021      Germany           0.37941
699       7  2021      Germany           0.12994
815       8  2021      Germany           0.19208
931       9  2021      Germany           0.42423
1047     10  2021      Germany           0.46761
1163     11  2021      Germany           0.98498
1278     12  2021      Germany           1.42655
56        1  2022      Germany           0.89069
174       2  2022      Germany           0.66309
283       3  2022      Germany           0.69602
397       4  2022      Germany           0.54553
511       5  2022      Germany           0.29093
625       6  2022      Germany           0.21650
740       7  2022      Germany           0.39338
856       8  2022      Germany           0.34467
972       9  2022      Germany           0.22189
1088     10  2022      Germany           0.48742
1203     11  2022      Germany           0.33011
1318     12  2022      Germany           0.35122
93        1  2023      Germany           0.15421